[2014-03-23 19:44] warunsl opened #2 "The linter fails when functions has too many arguments"
The syntax highlighting gets messed up when the number of arguments to a function is large. I am not sure if this is a language-java issue in particular. But this is what I mean:

![screen shot 2014-03-23 at 12 40 42 pm](https://f.cloud.github.com/assets/856084/2494382/13368f12-b2c3-11e3-88ce-7c8257eee727.png)

There is nothing wrong with the code. It renders with no syntax errors on Eclipse.

You

[2014-04-30 13:00] tylertate opened #3 "The cmd+/ "comment" keymap for JSP outputs XML comments rather than JSP comments"
A JSP code comment consists of an opening bracket, percentage symbol, and two dashes, for example:

[code]

However, when invoking the command + slash keymap for toggling a comment on/off in a JSP page, an XML-style comment is output instead.

[code]

JSP-style comments should be used when working in JSP pages.

[2014-04-30 16:09] #3 closed, assigned to nobody

[2014-06-24 17:45] schmidtkaiharry opened #5 "do {} while( )"
It would be helpful, if a command for do-while-loop  exist =)

[2014-06-24 17:49] #5 closed, assigned to nobody

[2014-06-28 17:15] #2 closed, assigned to nobody

[2014-09-08 22:51] lee-dohm opened #6 "Update "this" to add a ".this" class"
See: atom/language-coffee-script#39

Per the discussion on the CoffeeScript language package, it makes sense to keep the various default Atom language packages consistent. So rather than `this` being given a class of `variable.language` it should be given a class of `variable.language.this`.

[2014-12-19 03:46] Wolftein opened #9 "Themes not rendering correctly."
This happend with all themes (Atom included).

http://i.imgur.com/mPPg0nM.jpg
http://i.imgur.com/7EmHMJr.jpg

[2015-01-27 13:50] batjko opened #10 "Auto-Indent does not indent single-line blocks (Java)"
Hi there,

This is probably a long-existing issue, but it's the first time I use auto-indent and I suspect it's the language-java scheme that determines how auto-indent behaves in java files? If not, let me know.

This should illustrate the difference between blocks with brackets and those without:
![autoindent2](https://cloud.githubusercontent.com/assets/7287076/5919387/3ef8686c-a62b-11e4-8530-f8

[2015-03-07 01:58] fedenator opened #11 "No volatile keyword"
In java there is a keyword "volatile", it works very similar to syncronized, but only in variables.

[2015-03-31 18:02] taylorlapeyre opened #12 "Java looks awful on Atom One syntax theme"
![or_mi7aan3oqjsk-riiq0fzianld-f4eg333bfd8oli](https://cloud.githubusercontent.com/assets/1610503/6925605/1f4e27fc-d7a6-11e4-8729-2e091c94738c.png)

Looks like words that aren't keywords, etc are colored yellow instead of white. I'm not sure if this is a language problem or a problem with Atom One - let me know if I should post this over there!

[2015-03-31 22:19] thomasjo commented on #12
Duplicate of https://github.com/atom/one-dark-syntax/issues/21.

[2015-03-31 22:19] #12 closed

[2015-04-25 17:57] SalGnt opened #13 "Comments highlight inside Enum declarations"
The comments inside the Enum declarations are not highlighted properly.

![Bug](https://cloud.githubusercontent.com/assets/884093/7334013/0d94154c-eb85-11e4-8704-ee31fe4f92f6.png)

[2015-04-25 20:02] SalGnt commented on #13
Since this package was converted from the Java TextMate Bundle, you should know that I reported this bug long time ago and it was [fixed](https://github.com/textmate/java.tmbundle/commit/ba10e91f122c25ee0bebd60479de6ff4d70a565b).

[2015-04-29 16:04] #11 closed

[2015-05-19 19:09] muppetjones commented on #10
The indent problem is atom-wide (since 0.192 as far as I can tell): [here](https://github.com/atom/atom/issues/6655).

[2015-07-29 16:17] #6 closed

[2015-07-29 21:18] kevindevos opened #17 "Methods not highlighted properly after constructor"
Have to put the constructor after the method for it to be properly highlighted.
<img width="391" alt="brokenjavahighlighting" src="https://cloud.githubusercontent.com/assets/10975732/8970120/c870e19c-363f-11e5-86d0-f04083302ab9.png">

[2015-07-30 13:09] #13 closed

[2015-09-05 12:43] chbk opened #19 "Missing scopes on brackets and parentheses"
Brackets and parentheses aren't scoped, they are the same color as variables:

![javab](https://cloud.githubusercontent.com/assets/7478535/9699187/a14dde0a-53d9-11e5-9b1d-b6f3d768dd2f.png)
[code]

Sometimes they can be distinguished in an identifier class:

![javag](https://cloud.githubusercontent.com/assets/7478535/9699188/a47be748-53d9-11e5-8211-58c9271fe11e.png)
[code]

But they still aren't sc

[2015-09-10 00:15] 50Wliu commented on #19
I'm actually getting some different results for the bottom one:
![image](https://cloud.githubusercontent.com/assets/2766036/9777238/75f71f88-572f-11e5-976f-6baebfadca1b.png)

What version of Atom are you on?

[2015-09-10 15:44] chbk commented on #19
I'm using Atom 1.0.11

You're right this is the full code to get the same result:

    public class MyClass {
        public static void main(String[] args) {}
    }

[2015-09-22 07:54] mackelito opened #20 "Snippets not working for '.source.java' on .jsp files"
in java.cson (using modular snippets plugin)

    '.source.java':
      'Testing':
        'prefix': 'test'
        'body': 'test.testing'

this works fine in .java files but not in .jsp

[2015-09-28 01:20] 50Wliu commented on #9
This should have been fixed by #18.

[2015-09-28 01:20] #9 closed

[2015-09-28 01:21] 50Wliu commented on #20
This is because `.jsp` files have the scope `.text.html.jsp`, not `.source.java`.  See https://github.com/atom/language-java/blob/master/grammars/java%20server%20pages%20(jsp).cson#L1.

[2015-09-28 01:21] #20 closed

[2015-10-05 12:37] chbk opened #23 "Missing scopes for angle brackets and commas"
Angle brackets and commas aren't tokenized when used for generic type parameters:

![java1](https://cloud.githubusercontent.com/assets/7478535/10280510/026e5510-6b6e-11e5-9737-2ab5c5bd0433.png)

![html1](https://cloud.githubusercontent.com/assets/7478535/10280553/35fea09c-6b6e-11e5-8402-f55e90448c43.png)

![java3](https://cloud.githubusercontent.com/assets/7478535/10280990/af010d7e-6b71-11e5-8acd-

[2015-10-05 12:46] chbk opened #24 "Primitive types not scoped consistently"
The first `boolean` is "primitive" as it should be, but the second one isn't:

![java2](https://cloud.githubusercontent.com/assets/7478535/10280765/c103ca18-6b6f-11e5-9db4-66d62bd63382.png)

![html2](https://cloud.githubusercontent.com/assets/7478535/10280752/a394c590-6b6f-11e5-95e2-5d39ac8b1273.png)

[2015-10-12 17:37] #17 closed

[2015-10-30 06:06] ibocon opened #25 "Coloring is too BAD"
In dark solarized theme & ubuntu 14.04,
Most color used in under source code is just blue!
Better colored source codes make users better to get into code.

[code]
To be specific,

in function signature,
[code]
are just blue color.

even import are all colored blue..
[code]
make pakagePath and Function should be colored differently for user interface.

Even, className is colored blue.

Therefore, I

[2015-10-30 06:51] thomasjo commented on #25
This is not a problem with the language grammar, but rather something that needs to be addressed in the [solarized-dark](https://github.com/atom/solarized-dark-syntax) theme, so please re-open the issue there.

[2015-10-30 06:51] #25 closed

[2015-11-03 06:39] ibocon commented on #25
![report](https://cloud.githubusercontent.com/assets/9730869/10902394/d520bbb4-81c2-11e5-9e62-f788c953beeb.png)

Sorry for late report.

So, as you can see on the picture,
 'function' name is not distinguishable well.
'Exception' is also blue.

[2015-11-03 23:08] 50Wliu commented on #23
Question: what should the `T` in your second example be tokenized as?  Should it even have its own special token?

[2015-11-09 17:57] chbk commented on #23
`T` stands for generic type, it's a placeholder for an actual class when instantiating `List`. IMO it should be tokenized the same way as `Integer` and `String` above.

[2015-12-03 15:44] ghost opened #28 "Constructor reference breaks syntax highlighting"
Using a constructor reference within a code block in .rst or .md files breaks syntax highlighting for everything after that code block. I do believe this is an issue with the java grammar, as I was able to reproduce it with both of the aforementioned languages.

A screenshot showing the faulty highlighting in a java code block within a .rst file can be found [here](https://camo.githubusercontent.c

[2015-12-03 15:59] saladoc commented on #28
After taking a closer look it seems that (method references)[https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.13] are not recognised by the grammar yet.

[2015-12-17 00:12] ryanr1230 opened #29 "Implementing Type with Type parameter as Array highlights weird"
implementing a Type with an array as the type parameter does not highlight correctly (e.g., "class A implements B\<C\[\]\> " -- shown below)

<img width="377" alt="This looks strange" src="https://cloud.githubusercontent.com/assets/667391/11857649/d1145d8a-a41f-11e5-8a57-2c12c3abb18d.png">

[2015-12-17 03:06] 50Wliu commented on #29
Will hopefully get fixed by #22.

[2016-03-09 21:40] joemcadams opened #31 "Highlighting issue with 'instanceof' keyword"
I've found that the instanceof keyword is not highlighted as an operator (see line 506 in master/grammars/java.cson). Anyone else have this issue?

![instanceofbug](https://cloud.githubusercontent.com/assets/10790010/13651512/456ab7cc-e60d-11e5-8685-e1db254cddfd.png)

[2016-04-05 12:37] Victorystick opened #32 "Inline classes not detected if bracket is on another line"
For example:

[code]

[2016-04-19 16:47] #19 closed

[2016-04-19 16:47] #23 closed

[2016-04-19 16:47] #29 closed

[2016-04-20 02:20] 50Wliu commented on #31
I cannot reproduce this using language-java@0.18.0; assuming fixed.

[2016-04-20 02:20] #31 closed

[2016-04-20 02:49] 50Wliu commented on #32
I cannot reproduce this using language-java@0.18.0; assuming fixed.

[2016-04-20 11:32] 50Wliu commented on #32
Forgot that I was on the `wl-new` branch which hasn't been merged yet :P.

[2016-05-04 10:56] PhiLhoSoft opened #33 "Dollar should be part of identifiers"
I opened a similar issue for JavaScript: https://github.com/atom/language-javascript/issues/374

Frankly, I dont use Atom to edit Java code, I use Eclipse instead. Given the low number of issues here, either I am not alone, or you are very good... :stuck_out_tongue:

OK, let's repeat the gist of the previous issue:

Atom 1.7.3, Windows 7, although the latter is probably not relevant...

AFAIK, $ i

[2016-05-15 07:46] noseglid opened #35 "Member definitions does not get correct scopes"
I'm trying to use the scopes for some parsing of the java file. However, it seems as members of a class does not get scope `meta.definition.variable.java` unless it is also defined inline:
![screen shot 2016-05-15 at 9 44 18 am](https://cloud.githubusercontent.com/assets/933880/15272691/b46f5a8a-1a81-11e6-929f-127e80d30bea.png)
![screen shot 2016-05-15 at 9 42 21 am](https://cloud.githubuserconten

[2016-05-16 16:06] noseglid opened #36 "Any primitive type gets 'storage.type.primitive.array.java' even if not array"
Reproduction:

[code]

put cursor at `int` and `Editor: Log Cursor Scope`:
![screen shot 2016-05-16 at 6 05 35 pm](https://cloud.githubusercontent.com/assets/933880/15295455/d2e7181c-1b90-11e6-9aac-77fb8ff2dc40.png)

(adding `[]` after int as to actually have a primitive array works as expected)

[2016-05-16 20:12] #35 closed

[2016-05-27 13:36] #36 closed

[2016-06-08 21:36] 50Wliu opened #47 "Qualified instance variables are not highlighted"
EDIT: see https://github.com/atom/language-java/issues/47#issuecomment-264060903
![qualified-no-highlight](https://cloud.githubusercontent.com/assets/2766036/15911740/0cc1e1e6-2d9f-11e6-82a7-308f685d8ad9.png)
vs
![variable-highlighting](https://cloud.githubusercontent.com/assets/2766036/15911816/68e66c44-2d9f-11e6-8409-2acb60151aa8.png)

[code]

[2016-06-09 06:31] noseglid commented on #47
I also noted that generics are not scoped properly unless they have a visibility modifier. Could it be the same issue?
![screen shot 2016-06-09 at 8 30 53 am](https://cloud.githubusercontent.com/assets/933880/15920724/93cde338-2e1c-11e6-8db5-1a0b1f016040.png)

[2016-06-09 16:28] noseglid opened #48 "There's nothing identifying catch blocks"
There's no scopes set on stuff in catch blocks. See this simple example:
[code]
![screen shot 2016-06-09 at 18 26 15](https://cloud.githubusercontent.com/assets/933880/15937570/c5462a4e-2e6f-11e6-81da-77ea1f7a2ab8.png)

I would find it beneficial if there were a scope set on everything within the parenthesis (`Exception`, ` ` and `exception` in my example). What would that scope be called?

[2016-06-09 20:06] 50Wliu commented on #47
Possibly!

[2016-06-09 20:08] 50Wliu commented on #48
I'm not really good at naming these things - @MaximSokolov any ideas?

Something that comes to mind though is `meta.catch-exception.java`.

[2016-06-09 21:23] MaximSokolov commented on #48
`Exception` – `storage.type.exception`
`exception` – `variable.other.exception` (not sure, maybe `entity.other.exception`?)
The whole block could be scoped as `meta.catch-exception`, though I don't think it is necessary. Whitespaces shouldn't be scoped.

Ref: [TextMate naming conventions](http://manual.macromates.com/en/language_grammars#naming_conventions)

[2016-06-10 13:33] 50Wliu opened #50 "Array variable declarations are not highlighted"
![array-no-highlighting](https://cloud.githubusercontent.com/assets/2766036/15965870/5a1e0906-2eee-11e6-9f79-a333a0091a29.png)

[code]

[2016-06-10 18:04] noseglid commented on #50
I can give this a go. Been meaning to rewrite the variable structure.

I suppose your example is missing storage type?
[code]

Regarding the variable structure, I want to split it into two separate categories. One (called something like `member-fields`) will match storage modifers and such (`private`, `protected`, `static`, etc). It will then include the `variables` structure (which match variable

[2016-06-10 19:52] ShanTulshi opened #52 "instanceof keyword not highlighted"
![image](https://cloud.githubusercontent.com/assets/6186771/15976933/95c69966-2f0a-11e6-8152-5d730ea04a09.png)

[2016-06-10 20:23] 50Wliu commented on #50
Oops, fixed! :see_no_evil:

Your new structure sounds like a good idea.

[2016-06-10 20:26] 50Wliu commented on #52
`instanceof` tokenizes correctly for me - you may want to report this over at [atom/one-light-syntax](https://github.com/atom/one-light-syntax) (or whatever syntax theme you're using).

[2016-06-10 20:26] #52 closed

[2016-06-10 20:33] noseglid commented on #52
It gets the scope `keyword.operator.instanceof.java` for me too, which is correct.

[atom/one-dark-syntax](https://github.com/atom/one-dark-syntax) doesn't highlight it either.

[2016-06-11 07:07] sadikovi opened #54 "Support highlighting for javadoc"
Currently, as of version 0.17.0 of the package, there is no javadoc highlight. I could not find option to enable it either. What do you think about adding this feature? Or have you considered adding it in the past? For example, `language-scala` supports highlighting, so we could just implement something very similar, I guess.

@50Wliu I would appreciate your feedback on this, thanks.

[2016-06-11 15:10] 50Wliu commented on #54
I'm definitely :+1: on adding javadoc support.

[2016-06-12 15:26] #50 closed

[2016-06-12 20:11] #48 closed

[2016-06-13 00:12] 50Wliu commented on #47
@noseglid this actually just got worse with #53:
![even-worse](https://cloud.githubusercontent.com/assets/2766036/15994720/ea98be26-30d9-11e6-8184-41029dc69bfb.png)

[2016-06-13 00:30] 50Wliu commented on #47
Something else:
![partial-highlighting](https://cloud.githubusercontent.com/assets/2766036/15994813/8cfb29e0-30dc-11e6-8ecf-6359f9634d0e.png)

[2016-06-13 12:41] noseglid commented on #47
Both comments addresses in #58

[2016-06-21 15:53] awvalenti opened #60 "Doesn't gray out comment blocks inside method/constructor parameter list"
This snippet works correctly (comment is grayed out):
```(/* comment */)```

This one does not (comment is not grayed out):
```method(/* comment */)```

Full example with bug:
```public Constructor(String p1, String p2/*, String p3*/)```

Full example without bug:
```public (String p1, String p2/*, String p3*/)```

[2016-06-22 08:12] sadikovi commented on #54
PR has been merged, I will close it.

[2016-06-22 08:12] #54 closed

[2016-06-28 14:09] noseglid commented on #33
Variables with `$` is correctly highlighted now.

Correct me if I'm wrong, but I don't think the "double-click" or `ctrl-left` to jump words is managed by the languages. @50Wliu ?
If not than this can be closed.

[2016-06-28 16:33] PhiLhoSoft commented on #33
If not, it is a problem (with Atom itself) / they should be: these operations are based on the concept of "words", and this concept is tightly related to the language: $ is a good example here (valid in JS / Java, not in other languages), but in other languages (CSS for example) dash is also part of identifiers (words), and so on.

[2016-06-28 17:15] noseglid commented on #33
@PhiLhoSoft I totally agree. It should be part of the language definition. But as it is now, the rest of this issue (aside from highlighting) does not belong to this repo (*if* that is so).

In CSS, stuff like dashes in e.g. `border-top` behave the same way as how you're describing `$` in java.

[2016-06-29 08:36] PhiLhoSoft commented on #33
That's annoying, but indeed, if that's beyond your scope, please feel free to close the issue if you fixed what was within your reach.

[2016-07-15 12:46] 50Wliu commented on #33
It actually is.  `editor.nonWordCharacters` can be modified by languages.  I think the Find and Replace "whole word" regex can't be changed though.

[2016-07-15 17:39] noseglid commented on #33
Cool, thanks for the correction!

[2016-08-04 06:58] jagadeeshvarma opened #62 "custom Trigger for System.out.format()/System.out.printf()"
For now **`pl`** Trigger works for `System.out.println(); `and  **`p`** works for `System.out.print();`
How can I add my own shortcut to print `System.out.format();` and `System.out.printf();`?

![print](https://cloud.githubusercontent.com/assets/4271270/17393075/e731a4da-5a3e-11e6-9ff8-4d19eeb7c09f.JPG)

[2016-08-04 13:25] 50Wliu commented on #62
If you want to add those to the language-java package, you can do so by editing [this file](https://github.com/atom/language-java/blob/master/snippets/language-java.cson).  Otherwise, if it's just for your own use, you can add your own snippets through the _Atom > Snippets..._ menu option on Mac, _File > Snippets..._ on Windows, or _Edit > Snippets..._ on Linux.

[2016-08-04 13:25] #62 closed

[2016-08-04 16:42] jagadeeshvarma commented on #62
Thanks a lot @50Wliu
I've added the entry in Sinppets file which is working fine.
Also added the same in [this file](https://github.com/atom/language-java/blob/master/snippets/language-java.cson).

[2016-08-21 05:35] sadikovi commented on #60
@50Wliu can you mark it as bug as well, please?

[2016-08-23 02:23] #60 closed

[2016-08-26 14:09] PhiLhoSoft commented on #33
I haven't understood the comment of @50Wliu until today, thanks to the comment https://github.com/atom/language-javascript/issues/374#issuecomment-242738392
So, we can at least fix that ourselves. Might be nice to be the default, though.

[2016-09-06 15:38] MoritzKn opened #64 "Add patterns for JSP expression language (EL)"
Currently the JSP expression language just includes the normal java syntax ([See jsp grammars line 80](https://github.com/atom/language-java/blob/master/grammars/java%20server%20pages%20%28jsp%29.cson#L80)), but actually JSP EL has a quit different syntax then Java.

See: [JSP EL on tutorialspoint](http://www.tutorialspoint.com/jsp/jsp_expression_language.htm) or the [spec](http://download.oracle.

[2016-09-06 15:40] MoritzKn commented on #64
I think about doing this myself but I may need a little bit help.

[2016-11-18 11:31] MattyBalaam opened #68 "Attribute values container ampersand breaks JavaServer Pages syntax highlighting"
If there is an ampersand as a value, something you could have for example in an href attribute, then the syntax highlighting breaks, at least in 0.24.0

![image](https://cloud.githubusercontent.com/assets/1246923/20428654/270e5e68-ad82-11e6-87b4-944cf5c4b1ae.png)

[2016-11-18 11:50] MattyBalaam commented on #68
Aha, will be fixed in Atom 1.13: atom/atom#13142

[2016-11-18 11:50] #68 closed

[2016-11-30 22:44] unreasonableman opened #69 "syntax coloring is broken for some floating point constants"
Hi,

java syntax coloring breaks for some floating point constants:

[code]

The latter case leads to '1f' being highlighted in bright red.

Pic attached to illustrate the issue.

![atom-syntax](https://cloud.githubusercontent.com/assets/833549/20774327/bc6f9e18-b70a-11e6-8c3c-b6339107d5b4.png)

[2016-12-01 01:11] 50Wliu commented on #69
Thanks for the issue @unreasonableman!

[2016-12-01 02:22] #24 closed

[2016-12-01 02:22] #32 closed

[2016-12-01 02:25] 50Wliu commented on #47
This is getting better.
![qualified-better-highlighting](https://cloud.githubusercontent.com/assets/2766036/20779589/70783018-b743-11e6-88e0-e348e81916fc.png)
`Double` just needs to be tokenized properly now.

[2016-12-01 03:37] 50Wliu commented on #69
Ok, I have a fix at #70.  If you want to test it out you can check it out using Git and then `apm link` it.  Make sure not to forget to unlink it though after an Atom version is released that contains the fix.

[2016-12-22 17:16] saadq opened #71 "Support default keyword"
I'm trying to add syntax highlighting to the `default` word in code like this:

[code]

However, the only selectors available seem to be `.meta.method.return-type`. Is there any plan to add Java 8 stuff like this and maybe add the `default` word to something like `.storage.modifier` or something?

[2016-12-22 17:48] 50Wliu commented on #71
PRs will definitely be merged, however I don't have enough experience with Java 8 to try adding the keywords myself without potentially naming them wrong/misunderstanding how things work.

[2017-02-01 04:53] #69 closed

[2017-02-02 23:13] 50Wliu opened #76 "Capital variables tokenized as storage types"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-02-03 17:54] #47 closed

[2017-02-20 13:22] MisterDA opened #79 "Try-with-resources not colored"
### Description

Hello, I noticed that [Try-With-Resources](https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html) statements are not colored.
![screenshot-0](https://cloud.githubusercontent.com/assets/1773581/23126403/c2994724-f776-11e6-8e00-3e814b21dfe0.jpg)

**Expected behavior:** You would expect them to be colored just as regular Java code.

**Reproduces how often

[2017-02-20 16:58] 50Wliu commented on #79
Thanks for reporting @MisterDA!

[2017-02-20 20:58] 50Wliu commented on #79
Also, I noticed that you are running an unofficial distribution of Atom.  We generally do not offer support for unofficial distributions - I would highly suggest that you uninstall it as soon as possible and reinstall from https://atom.io.  You can read [the decision](https://github.com/atom/design-decisions/blob/master/unofficial-atom-distributions.md) for why we chose not to support unofficial d

[2017-02-21 14:50] MisterDA commented on #79
Hi, I tried the official version. I uninstalled [atom](https://www.archlinux.org/packages/community/x86_64/atom/) from the official repository and used the AUR package [atom-editor-bin](https://aur.archlinux.org/packages/atom-editor-bin) which uses the distribution from [atom.io](https://atom.io/). The problem remains on this version.
*I have not tested your fixes.*

Oddly, a friend of mine runnin

[2017-02-21 15:12] 50Wliu commented on #79
Yes, we've been making language-java more modular recently (before it would apply basic highlighting everywhere - now it tries to be smarter).  Of course, during that restructure, we didn't think about try-with-resources, which is probably why it regressed.

And yes, I've seen the conclusion of the linked Arch issue, which I strongly disagree with.  Almost every time they decide to upgrade to a ne

[2017-02-21 15:25] #79 closed

[2017-04-05 16:00] bbodien opened #83 "Syntax highlighting confused by JSTL replace pattern"
### Description

The syntax highlighting for JavaServer Pages is being thrown off by a JSTL string replace pattern that consists of an escaped single quote:

`
<c:set var="foo" value="${fn:replace(entry.name, '\\'', '&#39;')}" />
<c:set var="bar" value="test" />
`

The problem is with the `'\\''` segment.

### Steps to Reproduce

1. Open a new editor tab and set the language to JavaServer Pages
2.

[2017-04-12 22:15] 50Wliu opened #85 "new does not work with ternary expressions"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-13 00:38] #85 closed

[2017-04-15 00:39] igorvolnyi opened #87 "Java language syntax hilighter treats semicolon wrong inside both single and double quotes"
atom 1.16 on ArchLinux. See attached source file and screenshots
[bug.zip](https://github.com/atom/language-java/files/923174/bug.zip)

[2017-04-15 02:01] 50Wliu commented on #87
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2017-04-15 02:01] #87 closed

[2017-04-27 19:59] MoritzKn opened #88 "Resources part of the try-with-resources statement does falsely require a trailing semicolon"
### Description

The resources part of the try-with-resources statement does falsely require a trailing semicolon.

### Steps to Reproduce

1. Open new file
2. Enter:
[code]

**Expected behavior:**
The `meta.try.resources.java` scope ends at the closing parenthesis and the try body gets the scope `meta.try.body.java`.

**Actual behavior:**
The `meta.try.resources.java` scope does never end and the

[2017-04-28 02:28] 50Wliu commented on #88
The best way to implement this is to create a separate rule for try-with-resources, because currently the [variable assignment rule](https://github.com/atom/language-java/blob/7b4c32a4c97fa2a01eaaa2ae08a085ee08bba8fb/grammars/java.cson#L1195) waits for the ending semicolon before terminating.

[2017-04-28 07:44] MoritzKn commented on #88
Yeah, it isn't a normal assignment any way.
Normal assignment looks like this:
[code]
The "Resource" from the try-with-resources statement dosen't support komplex assignments (`+=` etc.) for example.

[2017-05-07 15:27] #71 closed

[2017-05-11 20:51] Sogomn opened #90 "Keyword "strictfp" not recognized"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-05-13 09:52] lobisquit opened #92 "Commented method after constructor is not highlighted properly"
### Description

I have noticed that commented a method after a constructor leaves it the usual color, i.e. it is not greyed out. I have tried with a fresh install on Arch Linux 64bit and the bug is still there.

**Expected behavior:**
Proper highlight is triggered when the object is not constructed right before, as you can see here.
![spectacle ea7400](https://cloud.githubusercontent.com/assets/1

[2017-05-14 20:11] #90 closed

[2017-05-14 20:13] 50Wliu commented on #92
Thanks for reaching out!

We've determined that you are using an unofficial build or distribution of Atom. Often these customized versions of Atom are modified versions of the Stable branch of Atom with mismatched versions of built-in components. These updated components are taken from the Beta channel or `master` branch and then injected into the Stable version and a new Atom package is generated

[2017-05-14 20:13] #92 closed

[2017-05-17 14:10] cdiazr opened #94 "Failed to load a language-java package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.0

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-17 14:10] cdiazr opened #95 "Failed to load a language-java package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.0

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-17 17:02] 50Wliu commented on #95
Duplicate of #94.

[2017-05-17 17:02] #95 closed

[2017-05-17 17:02] 50Wliu commented on #94
@cdiazr Is this error reproducible?  Can you navigate to `C:\Users\cdiaz\AppData\Local\atom\app-1.17.0\resources\app\node_modules\language-java\grammars\java server pages (jsp).json' in C:\Users\cdiaz\AppData\Local\atom\app-1.17.0\resources\app\node_modules\language-java\grammars\` and tell me the contents of that directory?

[2017-05-18 20:51] stephen-last commented on #94
I'm seeing these errors too. I've checked in `C:\Users\stephen.last\AppData\Local\atom\app-1.17.0\resources\app\node_modules\language-java\grammars`...

The file names seem to have `%20` instead of spaces, I'm guessing that's why these `ENOENT: no such file or directory` errors are showing. There are loads of them, and they popup every time I open Atom.

What should I do to fix this..?

[2017-05-18 21:12] 50Wliu commented on #94
@stephen-last This seems to be a rare occurrence.  Can you try reinstalling and see if that helps?

[2017-05-19 17:00] jaygriz commented on #94
I seem to be getting a series of similar errors.
hopping someone has an idea...

[2017-05-19 17:31] jaygriz commented on #94
in directory

there I find there four files:

[2017-05-19 18:58] jaygriz commented on #94
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [language-git](https://github.com/atom/language-git) package 0.19.0

### Stack Trace

Failed to load a language-git package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-19 19:13] jaygriz commented on #94
AtomSetup.exe
I just ran AtomSetup.exe with admin priv. Still get 17 red boxes

[2017-05-19 20:48] stephen-last commented on #94
I uninstalled Atom, then ran `AtomSetup-x64.exe` downloaded from https://atom.io/ and that fixed it for me, no errors.

[2017-05-19 21:58] jaygriz commented on #94
Thank you sir!

that sounds reasonable

From: "Stephen Last" <notifications@github.com>
To: "atom/language-java" <language-java@noreply.github.com>
Cc: "jaygriz" <jaygriz@telus.net>, "Comment" <comment@noreply.github.com>
Sent: Friday, May 19, 2017 1:48:09 PM
Subject: Re: [atom/language-java] Failed to load a language-java package grammar (#94)

I uninstalled Atom, then ran AtomSetup-x64.exe downl

[2017-05-22 20:59] FirixQ opened #96 "Failed to load a language-java package grammar"
Steps to reproduce:

1. Start Atom

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.0

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-23 04:57] iDragonfly2050 opened #97 "New constructor does not stop correctly"
### Prerequisites

-   [x] Put an X between the brackets on this line if you have done all of the following:
    -   Reproduced the problem in Safe Mode: <http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    -   Followed all applicable steps in the debugging guide: <http://flight-manual.atom.io/hacking-atom/sections/debugging/>
    -   Checked the FAQs on the message

[2017-05-23 17:53] 50Wliu commented on #96
Closing as a duplicate of atom/language-java#94.  Reinstalling should fix the issue.

[2017-05-23 17:53] #96 closed

[2017-05-25 15:06] Nollikino commented on #94
It seems like when there was an update to 1.17.0 on Windows there are some problems where spaces weren't translated from "%20" to " " in file names.

All the files that had spaces in them in the grammars-directory seems to have had this problem on my end.

I wouldn't recommend it to anyone else, because it's a crude fix, but i issued this line in PowerShell, and it changed all the files to the cor

[2017-06-18 23:43] elyaraujo opened #99 "Failed to load a language-java package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.1

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-19 09:52] rsese commented on #99
Closing per https://github.com/atom/language-ruby-on-rails/issues/55#issuecomment-309392781

[2017-06-19 09:52] #99 closed

[2017-06-30 08:12] triforce930 opened #100 "Syntax highlighting of ternary if statements get confused with object creation and strings"
### Prerequisites
* [X] Done, none of them, except searching for an already filed bug report. They seemed irrelevant for this issue.
* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide

[2017-07-02 21:12] sadikovi commented on #100
Thanks for reporting this! It looks like it is one of those problems with `new` usages in different statements. I tried solving one in arrays in my pull request #98, but it looks like we need something more general to solve this problem. Will try fixing it this week.

[2017-07-14 15:30] jaymomnang opened #101 "Failed to load a language-java package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 ia32
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.1

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-14 23:06] 50Wliu commented on #101
Thanks for taking the time to contribute!

We noticed that this is a duplicate of atom/language-java#94. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multipl

[2017-07-14 23:06] #101 closed

[2017-07-26 01:48] wusideng opened #102 "Failed to load a language-java package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [language-java](https://github.com/atom/language-java) package 0.27.1

### Stack Trace

Failed to load a language-java package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-26 02:56] 50Wliu commented on #102
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #94. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is a

[2017-07-26 02:56] #102 closed

[2017-08-04 11:53] aeschli opened #103 "VS Code cannot treat java file which contains large 'enum'."
_From @ciiwol on August 3, 2017 8:15_

- VSCode Version: 1.14.2 (32bit, 64bit both have problem with this)
- OS Version: Windows 7

Steps to Reproduce:

1. Create an empty java file.

2. Open it with notepad.exe and type this -> 3 times or more.

AAAAAAAAAAA, BBBBBBBBBB, CCCCCCCCCC, DDDDDDDDDD, EEEEEEEEEE, FFFFFFFFFF, AAAAAAAAAAA, BBBBBBBBBB, CCCCCCCCCC, DDDDDDDDDD, EEEEEEEEEE, FFFFFFFFFF, AAAAAAA

[2017-08-07 17:55] P403n1x87 opened #104 "the "new" keyword on the same line as the literal string ":" breaks syntax highlighting"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-08-08 15:26] 50Wliu commented on #104
Sorry for jumping you around @P403n1x87, but I just rediscovered #100, which looks to be the same bug.  As such I'm going to mark this issue as a duplicate of that one.  Sorry for all the hassle!

[2017-08-08 15:26] #104 closed

[2017-08-08 17:10] #103 closed

[2017-08-08 21:00] P403n1x87 commented on #104
No problem. Thanks for looking into this.

[2017-08-09 01:20] 50Wliu commented on #100
Fixed by #98.

[2017-08-09 01:20] #100 closed

[2017-08-09 01:20] 50Wliu commented on #97
Fixed by #98.

[2017-08-09 01:20] #97 closed

[2017-08-10 06:39] KaiShoya opened #106 "Syntax highlighting confused."
[code]
![screen shot 2017-08-10 at 15 31 40](https://user-images.githubusercontent.com/5924971/29157308-465be184-7de1-11e7-9bcf-076ecf3cac40.png)
![screen shot 2017-08-10 at 15 31 49](https://user-images.githubusercontent.com/5924971/29157314-49e686f6-7de1-11e7-8c76-22635ea84d9e.png)

[2017-08-10 07:23] sadikovi commented on #106
This should be fixed in master branch and v0.27.3 (tested locally those branches).

<img width="402" alt="screen" src="https://user-images.githubusercontent.com/7788766/29159005-3e1729f0-7e01-11e7-9d6e-fd4490fa70f1.png">

[2017-08-10 07:54] Ben3eeE commented on #106
Thanks for reporting this!

This has already been fixed in `v0.27.3`. It is currently scheduled for release when Atom 1.21 reaches Stable.

---

Thanks @sadikovi :bowing_man:

[2017-08-10 07:54] #106 closed

[2017-08-14 15:01] aeschli opened #107 "Java syntax highlighting breaks on quote-parentheses combo"
_From @oakad on August 12, 2017 9:54_

Version: 1.14.2, Linux

The following line `IGNORE_SPACE(8, "ignore spaces before '('")`, seen inside enum declaration breaks highlighting, while being a perfectly valid Java.

_Copied from original issue: Microsoft/vscode#32367_

[2017-08-14 15:01] aeschli commented on #107
_From @weinand on August 12, 2017 16:47_

Is this reproducible when running VS Code with extensions disabled?

[2017-08-14 15:01] aeschli commented on #107
_From @oakad on August 13, 2017 9:53_

Yes, disabling all extensions via command palette makes no difference. Feels like regex error in the highlighting profile to me.

[2017-08-15 00:39] #107 closed

[2017-09-11 09:12] aeschli opened #109 "java syntax highlight break on annotation interface"
_From @tnclong on September 9, 2017 1:2_

- VSCode Version:

1.16.0

- OS Version:

macOS 10.12.3

- Steps to Reproduce:

<img width="756" alt="screen shot 2017-09-09 at 8 55 40 am" src="https://user-images.githubusercontent.com/10040765/30235628-16088118-953d-11e7-92f7-37eea775569f.png">

- Reproduces without extensions

Yes

_Copied from original issue: Microsoft/vscode#34058_

[2017-09-28 21:44] 11684 commented on #88
I found a hacky workaround: adding a semicolon before the closing parenthesis of the try. It is redundant there, but it fixes the highlighting of the succeeding code.

[2017-09-29 01:06] sadikovi commented on #88
Thanks for workaround! I managed to patch code for it to work:
[code]

This is hacky as well, however passes all tests in master branch.

[2017-10-08 15:58] mitm001 opened #111 "Syntax breaks through asciidoc code block."
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-10-08 16:01] mitm001 commented on #111
See bug report on Atom forum.

https://discuss.atom.io/t/mass-red-highlight-issue/41329/15

[2017-10-14 06:42] chbk opened #112 "Scope `@` in annotations as punctuation"
Can `@` have its own scope? It would be handy as `punctuation.definition.annotation`, similarly to `$` scoped as `punctuation.definition.variable` in php for example.

[2017-10-16 11:26] 50Wliu commented on #111
This is a larger issue documented in atom/first-mate#83.

[2017-10-16 11:26] #111 closed

[2017-10-18 15:36] #112 closed

[2017-10-25 19:37] snjeza opened #114 "Syntax highlighting is not working with comment"
VS Code 1.18

The VS Code master:

![syntax2](https://user-images.githubusercontent.com/388609/32010429-1a1a7088-b9b2-11e7-91de-d627d6872474.png)
The VS Code master with https://github.com/Microsoft/vscode/pull/36786:

![syntax3](https://user-images.githubusercontent.com/388609/32010470-336dae6a-b9b2-11e7-9606-f425faa12ecb.png)

Test2.java
[code]
Copied from https://github.com/Microsoft/vscode/pul

[2017-10-25 20:17] sadikovi commented on #114
Interesting. Several observations:
1. Inline comments work okay, if function definition is on the same line, e.g.
Works:
[code]
Does not work:
[code]

2. Multi-line comments work if they do not follow `new` keyword.
Works:
[code]
Does not work:
[code]
I will have a closer look today.

[2017-10-25 20:20] 50Wliu commented on #114
@sadikovi thanks for jumping so quickly on this.  I already have a fix for the new comments and am looking into the second method issue now.

[2017-10-25 20:22] sadikovi commented on #114
Nice! Thanks @50Wliu! That is really good that you have a fix for it.
I was just doing routine morning check:)

[2017-10-25 20:26] 50Wliu commented on #114
I'm going to say the multiline method signature is a `wontfix` due to the conflicting `member-variables` match.

[2017-10-25 21:56] snjeza commented on #114
The following patch fixes member-variables:

[code]

[2017-10-31 09:19] 50Wliu commented on #109
No repro.
![java-interface-default-annotation](https://user-images.githubusercontent.com/2766036/32216296-f5e5f972-be24-11e7-87d5-aa885bcdff9c.png)

[2017-10-31 09:19] #109 closed

[2017-11-19 21:25] fedenator opened #116 "Not detecting array in template as type when visibility modifier"
Class members `private Foo<int[]> hello;` is not highlighted correctly as a type, however `Foo<int[]> hello;` is highlighted correctly

[2017-12-20 10:28] aeschli opened #117 "Improper syntax highlighting for Java package name"
_From @tristan957-expero on December 19, 2017 18:52_

- VSCode Version: 1.19
- OS Version: MacOS 10.13

Steps to Reproduce:
1. Create Java file
2. write `package com.helloWorld;`

The W will not have the same syntax highlighting

Reproduces without extensions: Yes

_Copied from original issue: Microsoft/vscode#40530_

[2017-12-20 16:24] 50Wliu commented on #117
From https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html:

I am open to tokenizing uppercase letters as deprecated, but otherwise I think this will be a wontfix.

[2017-12-20 16:28] tristan957 commented on #117
It's a naming **convention** though. That doesn't mean Java doesn't allow it. I could understand if it was the first letter that was capitalized but it's a character in the middle.

[2017-12-31 00:56] #116 closed

[2018-01-04 19:00] beautron7 opened #120 "Syntax highlighting treats `/**/` as the start of a JavaDoc"
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for common solutions: htt

[2018-01-04 19:13] 50Wliu commented on #120
Oh, it's seeing it as Javadoc.

[2018-01-04 22:10] sadikovi commented on #120
Yes, it is a bug, apologies for that - I should have tested this situation with empty comments.
Exists in current master branch.

Here is the patch to fix it:
[code]

Passes all tests with this:
[code]

@50Wliu @beautron7 If you are good with patch, I can open PR to fix it ASAP.

[2018-01-04 22:44] 50Wliu commented on #120
Sounds great to me @sadikovi.

[2018-01-05 00:22] #120 closed

[2018-01-08 22:42] sadikovi commented on #117
@50Wliu Should we fix this? I am happy to have a look, if you want.

[2018-01-08 23:03] 50Wliu commented on #117
I suppose this goes back to https://github.com/atom/design-decisions/pull/1.  Personally I think we should enforce the convention.

[2018-01-08 23:29] tristan957 commented on #117
I don't want to come off as rude, but why should a language enforce a *convention*. There are many conventions that people don't follow when programming. Think of the entirety of of PEP8. Why should a syntax highlighter expect me to follow every convention of a language? The equivalent of this argument in Python would be not highlighting a function definition because it isn't 2 lines under the imp

[2018-01-08 23:36] tristan957 commented on #117
I can understand not highlighting improper class names that don't start with capital letters because the Java compiler will yell at you. The Java compiler will not criticize my decision to camel case my package names

[2018-01-08 23:53] 50Wliu commented on #117
Not to worry; you're not coming off as rude at all.  And I don't want to undermine your argument, but language-python does set [some defaults](https://github.com/atom/language-python/issues/62#issuecomment-102582790) to what PEP8 recommends.

That said, I think it's long overdue that we revisit atom/design-decisions#1 and make a final decision for or against.  Perhaps this _should_ be for linters

[2018-01-09 23:13] tristan957-expero commented on #114
Is this issue related to:
[code]

In VSCode, current stable, the comment is not highlighted like a comment.

[2018-01-10 00:27] sadikovi commented on #114
@tristan957-expero Nah, does not look like it, but I might be wrong here.
I managed to fix it with following diff:

[code]

I think we should open a PR to fix this!

[2018-01-10 18:13] MoritzKn commented on #64
With #65 is is resolved now

[2018-01-10 18:13] #64 closed

[2018-01-11 19:54] sadikovi commented on #114
@50Wliu should we close this issue? You fixed the main problem with highlighting and we patched separate issue raised in comments. Or is there anything else we need to do? Thanks!

[2018-01-11 22:22] 50Wliu commented on #114
Yeah, I'm in favor of closing this issue.  For people who are still experiencing problems with comments when Atom 1.25 is released, please create new issues so that we can specifically target them :).

[2018-01-11 22:22] #114 closed

[2018-01-13 01:15] 50Wliu commented on #117
Hi there.  Quick update: we have decided that we are going to keep this invalid highlighting, but change the scope that it can more easily be styled out if you so desire without affecting other invalid scopes.  In Atom, you can do this through the `Application: Open Your Stylesheet` command.  I'm not sure if there's an equivalent way to do it in VSCode.

[2018-01-13 02:17] tristan957 commented on #117
Well I can't say that I agree at all :(. Truly unfortunate

[2018-01-20 01:15] sadikovi commented on #88
I think it sort of relates to https://github.com/atom/language-java/issues/76. For example, this code renders just fine:
[code]

It also looks like it forces class name with uppercase... Will try addressing this issue.

[2018-01-30 03:58] #117 closed

[2018-01-30 03:59] 50Wliu commented on #117
The new scope name from here on out is `invalid.deprecated.package_name_not_lowercase.java`.

[2018-02-13 08:46] aeschli opened #127 "Java syntax highlighting errors"
The built-in Java Textmate grammar has several highlighting inconsistencies/errors.
atom/language-java (https://github.com/atom/language-java/commit/7a42895fead16e2c39c6667fc9e7ce0f7f922ac4)

- Variables/constants starting with a capital letter are scoped as `storage.type.java`
- Angle brackets are inconsistently scoped, either as
    - keyword.operator.comparison.java
    - keyword.operator.bitwi

[2018-02-13 08:46] aeschli commented on #127
_From @H-C-H on February 12, 2018 8:16_

Here is the same code rendered in Sublime Text. Seems to get it right.

![screen shot 2018-02-12 at 09 14 43](https://user-images.githubusercontent.com/31404215/36087942-3edde264-0fd5-11e8-8a24-ba966ed251ae.png)

[2018-02-13 08:51] aeschli commented on #127
@H-C-H FYI

[2018-02-13 09:37] sadikovi commented on #127
Could you provide version of Atom and/or language-java package?

Highlighting works for me for the latest master branch: e47a652dba757276c02ccb2cd4cdb4bf6914b8a5.
Here is the screenshot:
<img width="401" alt="highlight" src="https://user-images.githubusercontent.com/7788766/36142370-c2e090f6-110c-11e8-8c07-5881bd20de4c.png">

Yes, this is the problem highlighted in https://github.com/atom/language

[2018-02-13 09:38] sadikovi commented on #127
ping @50Wliu

[2018-02-13 09:41] aeschli commented on #127
It's with the current master of atom/language-java (7a42895)
Your evaluation makes sense.

[2018-02-13 09:50] sadikovi commented on #127
Sorry, forgot to fetch upstream. Still the same highlighting as on image above - no random red angle brackets for Sets.

[2018-02-13 09:50] sadikovi commented on #127
All good! Will try fixing it - thanks for reporting!

[2018-02-19 23:03] chbk opened #129 "No scope on ellipsis"
I suggest tokenizing `...` as `punctuation.definition.parameter.vararg`

[code]

[Java docs](https://docs.oracle.com/javase/tutorial/java/javaOO/arguments.html#varargs)

[2018-02-20 03:58] sadikovi commented on #129
Interesting. Do other language repositories implement this scope?

One could fix it with this diff:
[code]

[2018-02-20 20:43] sadikovi opened #131 "Problems with highlighting generics when class name has dots, e.g. Set<Map.Entry<K, V>>"
### Description
This is an issue reported as part of #127.

Reproducible in the latest master 7a42895fead16e2c39c6667fc9e7ce0f7f922ac4.

Code to reproduce:
[code]

Screenshot with current highlighting - as you see, generics with dots are scoped differently.

![screenshot from 2018-02-21 09-35-54](https://user-images.githubusercontent.com/7788766/36448008-00807456-16eb-11e8-8423-9387b0f8adc7.png)

[2018-02-20 20:56] sadikovi opened #132 "Generic angle brackets have the wrong scope in situations like variable = (A<B>) value."
### Description

This is an issue reported as part of #127.

Tested on the latest master branch 7a42895fead16e2c39c6667fc9e7ce0f7f922ac4.
Code to reproduce:
[code]

The angle brackets on the line `value = (B<C>) obj` have the wrong scope `keyword.operator.comparison.java`, but should be `punctuation.bracket.angle.java`.

Screenshot (click on the image for higher resolution):

![screenshot from 201

[2018-02-20 21:01] sadikovi commented on #127
After the discussion on the maintainer chat I decided to close this issue, because it contains more than reported problem (3 actually) - see the comment above (https://github.com/atom/language-java/issues/127#issuecomment-365206976).

Instead, I have created and linked separate issues (created from this one), see all links above (issues 76, 131, 132). Will try addressing those as soon as I can.

P

[2018-02-20 21:01] #127 closed

[2018-03-05 15:03] #131 closed

[2018-03-05 23:23] #129 closed

[2018-03-05 23:24] #76 closed

[2018-03-06 00:16] sadikovi opened #135 "Incorrect highlighting for generics with storage type containing dots"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-03-12 11:34] SMadani opened #136 "Missing keywords"
The following reserved keywords are missing from the Java grammar:

- const
- goto

Furthermore, Java 10 adds local-variable type inference, so perhaps var should also be added in certain contexts?

I have been referred to this project from Visual Studio Code. The original problem can be found [here.](https://github.com/Microsoft/vscode/issues/45405)

[2018-03-12 15:01] 50Wliu commented on #136
From https://docs.oracle.com/javase/tutorial/java/nutsandbolts/_keywords.html, it appears that `const` and `goto` are unused as of Java 8.  Has that changed since then?  If not, I don't see a reason to add them.

[2018-03-12 15:04] SMadani commented on #136
@50Wliu Although they serve no purpose, they are still reserved keywords so an editor should be aware of their status as a keyword rather than, for example, allowing a user who is unfamiliar with the language to use them as variable names and get compilation errors.

[2018-03-12 15:37] 50Wliu commented on #136
That makes sense to me, thanks for the explanation.  Would you like to see them tokenized as regular keywords or for some sort of warning highlighting to be applied? /cc @sadikovi

[2018-03-12 16:53] SMadani commented on #136
Thank you for considering this. I think it would make sense to treat them as regular keywords as nearly all other editors do not distinguish between "active" and "inactive" reserved keywords, though a warning would also be a bonus.

[2018-03-12 20:11] sadikovi commented on #136
I think it is worth adding `goto` and `const` as regular keywords, but I do not think we should be adding `var`. If everyone agrees, I can open a PR for this.

[2018-03-12 21:55] SMadani commented on #136
Great, thanks!

[2018-03-13 18:19] #136 closed

[2018-04-01 22:44] fbricon commented on #136
How is `var` supposed to be handled then? It's technically not a keyword but a reserved type name, but we still need it to be coloured differently:

<img width="301" alt="screen shot 2018-04-01 at 6 43 05 pm" src="https://user-images.githubusercontent.com/148698/38178247-a654ca8e-35dc-11e8-8d43-f8b3c3ba11bb.png">

[2018-04-01 22:52] SMadani commented on #136
It would probably make sense to colour it as a regular keyword in places where it actually works as a keyword, such as the example you provided. In general, this applies to variable declarations in methods, for loop initializers, try-with-resources and from Java 11, in lambda parameter declarations. However this is probably too complicated to support at an editor level.

[2018-04-01 23:12] sadikovi commented on #136
As you pointed out, `var` is neither a reserved keyword nor a keyword at all, and could be used perfectly for a variable name, therefore we do not apply any special highlighting. We could always try adding support for `var` reserved type name, but not as part of this issue.

[2018-04-02 01:26] sadikovi commented on #136
Actually, you are right. I think it should be scoped as `storage.type.java` as a replacement for such. I will have a look, it looks like it might partially be related to #135 - some patterns should include lowercase chars.

[2018-05-16 07:55] chbk opened #138 "Missing scopes on comma and xor"
Comma and xor operator are not scoped between exceptions:

[code]

language-java 0.29.0
Atom 1.26.1

[2018-05-16 12:10] chbk opened #139 "Missing scopes on new and punctuation"
`=`, `new` and `()` aren't highlighted in the example below:

[code]

language-java 0.29.0
Atom 1.26.1

[2018-05-17 17:27] sadikovi commented on #138
Good catch! It might have been a regression from my previous PRs. I will investigate.

[2018-05-26 14:53] sadikovi commented on #138
I have a fix in one of my branches, will open PR soon.

[2018-05-26 15:06] sadikovi commented on #139
I have a fix for this issue in my branch `fix-class-fields-with-array`. Will open PR soon.

[2018-05-28 17:30] snjeza opened #140 "Syntax highlighting broken on package declaration"
Steps to reproduce:

Try opening the following file:

[code]

Capital letters are marked as an error:

![140](https://user-images.githubusercontent.com/388609/40625317-ed9c3a10-62b1-11e8-90bf-c7e01770f5c7.png)

See https://github.com/redhat-developer/vscode-java/issues/351 and https://docs.oracle.com/javase/specs/jls/se6/html/packages.html#7.7

[2018-05-29 11:33] thomasjo commented on #140
I agree with @sadikovi. This has been discussed before, and we made a decision then that has not been changed since then.

If you disagree with our decision to mark this as invalid syntax, you can add something like the following to your custom stylesheet (`~/.atom/styles.cson`) to negate the default styling
[code]

[2018-05-29 11:33] #140 closed

[2018-05-29 17:02] snjeza opened #142 "Add Java 9/10 keywords"
Java 9 introduces the following keywords:
open,module,requires,transitive,exports,opens,to,uses,provides and with

See §3.9 in http://cr.openjdk.java.net/~mr/jigsaw/spec/java-se-9-jls-diffs.pdf

It will enable module-info.java syntax highlighting.
See https://github.com/redhat-developer/vscode-java/issues/527

[2018-06-02 07:48] sadikovi commented on #142
Fixed by #143

[2018-06-02 07:48] #142 closed

[2018-06-02 07:49] #139 closed

[2018-06-02 07:50] #138 closed

[2018-06-19 19:06] garyrussell commented on #88
Are there any plans to merge this or fix the problem some other way?

[2018-06-19 19:43] sadikovi commented on #88
There is an open pull request to fix this issue, but it needs to be revisited and rebased. Will get back to it soon.

[2018-07-14 06:29] #88 closed

[2018-07-24 06:17] sadikovi commented on #135
Fixed in #147.

[2018-07-24 06:17] #135 closed

[2018-08-15 16:47] aeschli opened #151 "Grammar is in an endless loop - Grammar pushed the same rule without advancing error in editor"
_From @kittaakos on July 31, 2018 18:29_

- VSCode Version:
Version 1.26.0-insider (1.26.0-insider)
0707dd4940b3fdbea8339595de478f354f6dda83
2018-07-31T05:05:43.344Z

- OS Version:
OS X 10.13.5

Steps to Reproduce:
1. Create a file with  `.java` file extension. (Note, I do not have any VS Code Java extensions installed.)
[code]

2. Set the cursor to the `<|>` position:
[code]

3. Type any non-whit

[2018-08-15 16:47] aeschli commented on #151
_From @alexandrudima on August 2, 2018 9:20_

:+1: Here is the minimal repro I could extract:
[code]

`[2] - Grammar is in an endless loop - Grammar pushed the same rule without advancing` indicates that the grammar entered and left a begin/end rule without consuming anything, thus making an endless loop. The interpreter has broken the loop, but it still remains a mistake in the grammar.

[2018-08-15 16:47] aeschli commented on #151
_From @alexandrudima on August 2, 2018 9:20_

We could improve `vscode-textmate` to print the problematic rule...

[2018-08-16 07:56] sadikovi commented on #151
Thanks for reporting @aeschli. I will have a look shortly.

[2018-08-17 06:49] sadikovi commented on #151
@aeschli I can't reproduce it in master branch in Atom following the steps above. Are you sure it is language-java issue? Stacktrace does not contain any reference to the package.

[2018-08-17 06:51] sadikovi commented on #151
Sure, scope and highlighting are incorrect after adding a non-whitespace character, but I have not observed any endless loop.

[2018-08-17 09:12] Ben3eeE commented on #151
@sadikovi We have had similar reports before and it has been because of the vscode textmate engine and not something we can reproduce in Atom. See https://github.com/atom/language-c/issues/218 for example.

[2018-08-17 09:16] sadikovi commented on #151
Thanks @Ben3eeE! I almost started feeling a bit anxious that I can't reproduce it by following the steps in the description. I am going to close this then.

[2018-08-17 09:34] Aerijo commented on #151
@alexandrudima @sadikovi https://regex101.com/r/Hx8uxj/1/

[2018-08-17 10:01] sadikovi commented on #151
@Aerijo what do you mean by "it calls itself recursively"? Did you mean "repeated"? Your regex is not exactly match to what we use in the package, it should be something like this:

PCRE: `(?=((void|boolean|byte|char|short|int|float|long|double)|(?>(\w+\.)*[A-Z]+\w*))(<[\w<>,\.?\s\[\]]*>)?((\[\])*)?\s+[A-Za-z_$][\w$]*([\w\[\],$][\w\[\],\s]*)?\s*(=|;))`

Plus, I am still not seeing a problem. Those

[2018-08-17 10:09] aeschli commented on #151
I verified that we are on the latest.
IMO the problem is with the `"variables"` rule, which only consists of lookaheads.
That rule matches as it looks for the occurrence of `int` without making that sure that this is a separate word. But no progress is made as none of the nested rules match. Then the `end` matches (again just a lookahead). And then the same rule variables matches again.

Atom does

[2018-08-17 10:12] sadikovi commented on #151
@aeschli Can you verify that Atom also has this problem, even though it does not warn on it?

[2018-08-17 10:17] aeschli commented on #151
Atom:

![image](https://user-images.githubusercontent.com/6461412/44261224-504d7080-a217-11e8-95a0-7626933ba215.png)
![image](https://user-images.githubusercontent.com/6461412/44261242-5a6f6f00-a217-11e8-8497-425a3edecfde.png)
You can see that also Atom fails to highlight after a type name that ends with `int` but is fine any other other identifierr.

[2018-08-17 10:26] Aerijo commented on #151
@sadikovi

I meant that the rule calls itself recursively, because it's patterns form a path back to itself. This is an issue when the match is 0-width. If that's more repeated than recursive, sorry, I wasn't being precise.

Debugging Atom and breaking on [this line](https://github.com/atom/first-mate/blob/master/src/grammar.coffee#L176) will show it. No error is emitted when this happens.

Yes, t

[2018-08-17 10:37] sadikovi commented on #151
Could you paste a stack trace or an error when debugging from when we write something before the “int” part? So far you have shown the correct example. Thanks.

[2018-08-17 10:48] sadikovi commented on #151
@aeschli can you confirm that your suggested fix works in VSCode?

My concern that even if it is an issue, we have to fix every similar occurrence in the package - would be good to come up with some sort of reproducer, so we can unittest it.

[2018-08-17 10:50] Aerijo commented on #151
@sadikovi
With the following text
[code]

I get this custom error

<img width="773" alt="screen shot 2018-08-17 at 8 44 17 pm" src="https://user-images.githubusercontent.com/22167388/44262430-63376380-a25e-11e8-853e-fd822675e4d2.png">

This can be reproduced by setting a breakpoint like so in a dev build of Atom (corresponding to the CoffeeScript line I link to above)
<img width="758" alt="screen

[2018-08-17 10:59] aeschli commented on #151
Yes, I verified my change in VSCode. There's no longer an endless loop.

There's still no type scope emitted for the identifier (`aint`). Uppercase identifiers are working (`Aint`)

[2018-08-17 11:01] sadikovi commented on #151
As far as I can tell based on your images, error case is handled, not
ignored. How does VSCode handle the same case?
On Fri, 17 Aug 2018 at 12:50 PM, Benjamin Gray <notifications@github.com>
wrote:

[2018-08-17 11:03] sadikovi commented on #151
I am a bit confused. Not having scope and having an endless loop are two
separate issues. Which one are you pointing out to?
On Fri, 17 Aug 2018 at 1:00 PM, Ivan Sadikov <ivan.sadikov@gmail.com> wrote:

[2018-08-17 11:04] aeschli commented on #151
@sadikovi Yes, sorry, not having a scope is a different issue.

[2018-08-17 11:37] Aerijo commented on #151
OK. To be clear, all my input has been with regards to the original issue (`Grammar is in an endless loop - Grammar pushed the same rule without advancing error in editor`).

From what I can tell, this grammar enters a loop when you follow the reproduction steps in the original post. My input has been to show why and where this is happening.

There are also two perspectives on this:

ignored

- @s

[2018-08-17 11:51] sadikovi commented on #151
I am not against fixing it, but there must a reproducible case that we add a unit test for. Plus, there could be other cases similar to this one. Anyway, @aeschli, feel free to open a PR, since it relates to VSCode , it’s not reproducible in Atom and you have a good understanding on how to fix it.

[2018-08-21 18:16] lee-dohm commented on #151
There's a lot here but from what I can see:

1. This does not reproduce in Atom (or while it reproduces, it does not cause buggy behavior because Atom's TextMate-derived grammar system handles the error)
1. The only objection to this with regard to Atom is that it would be more technically correct to change the grammar to not have this behavior

Given the above, I don't see any motivation for us t

[2018-08-21 21:26] sadikovi commented on #151
Thanks @lee-dohm. My point was that we could not unit test the fix inside the grammar, but as long as people can open a PR and verify that it works in VSCode, I am more than happy to merge the fix ASAP! Thanks @Aerijo for great follow-up and summary.

[2018-08-21 21:26] #151 closed

[2018-08-22 08:10] aeschli commented on #151
As you can see from the screenshot, the problem causes the rest of the line to not get any highlighting...

I created #151

[2018-08-22 08:15] sadikovi commented on #151
Yes, it won't, because it does not match the begin pattern, so the rest is ignored - it is not really a buggy behaviour.

[2018-08-22 08:19] aeschli commented on #151
Even the next statements don't get any highlighting...

![image](https://user-images.githubusercontent.com/6461412/44451754-e78a3d80-a5f4-11e8-9615-e8d75d0fcd9e.png)

[2018-08-22 08:30] sadikovi commented on #151
Yes, you are right - it is a bug! Your patch seems to fix it, thanks.

P.S. I am going to open another PR to add test for this issue. I would appreciate if the next time you could open an issue with a reproducer like the last image and that relates to the grammar, not some VSCode error.

[2018-08-22 08:32] sadikovi opened #153 "Add unit test for PR #152"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-08-22 14:00] sadikovi opened #154 "Inconsistent enum highlighting"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-08-23 08:46] sadikovi commented on #153
[code]

[2018-08-23 21:46] #153 closed

[2018-09-06 21:15] #154 closed

[2018-09-12 12:50] aeschli opened #158 "Field values are incorrectly highlighted"
_From @rickyah on September 3, 2018 8:55_

Issue Type: <b>Bug</b>

Using this snippet makes any text written after the BUG_SAMPLE variable to render as a string:

[code]

Atom (language-java 0.30.0) highlights this correctly, but VSCode (on master) ends the variable declaration with the `=`.

![screenshot from 2018-09-12 15-56-25](https://user-images.githubusercontent.com/6461412/45429899-7cd49b00

[2018-09-12 13:18] aeschli commented on #158
Sorry, I was too fast. Works in Atom. Will investigate on the VSCode side

[2018-09-12 13:50] aeschli commented on #158
Found it. The problem is with change https://github.com/atom/language-java/commit/2f20bc5a5b07686ec0139e2969431210d81b6991#diff-854de79c7abc9c505592fcddfc4654f9

The matching of `=` got removed, so now the `=` is consumed by the end rule.
Not sure why Atom doesn't show the problem.

I suggest to fix this by adding  `'applyEndPatternLast': 1` to the `variable` rule

[2018-09-12 16:08] sadikovi commented on #158
This is not a bug, we explicitly changed variable declaration to end with `=` in case of `int a = 123;` and with `;` in case of `int a;`. See https://github.com/atom/language-java/pull/146.

[2018-09-13 02:46] isiahmeadows opened #160 "`try`-with-resources syntax highlighting broken at block start"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-09-13 05:03] 50Wliu commented on #160
This was fixed in #146 but hasn't made its way into an Atom release yet.

[2018-09-13 05:03] #160 closed

[2018-09-15 19:49] mtman opened #162 "Highlight `var` keyword"
Java 10 `var` keyword is not highlighted, which makes declarations visually ambiguous with calls. That makes code significantly harder to navigate.

[2018-09-16 07:37] sadikovi commented on #162
Can you post screenshots/snippets of what it looks like in Java 10?

[2018-09-16 11:15] mtman commented on #162
![image](https://user-images.githubusercontent.com/15874394/45595572-684b1800-b9ae-11e8-9f95-60b77a8f4081.png)

In case of second declaration, `var` is not recognized as `storage.type` and `launchSpecification` as `variable.other`.

[2018-09-18 17:45] mtman commented on #162
Another scenario is `for (var c : new C()) { }`. The following regex covers all declarations: `\\b(var)\\b\\s+[A-Za-z_$][\\w$]*\\b\\s*[=:]`

`var` is intrinsically expected to be highlighted alongside `void` and real types. Both Eclipse and Intellij work that way. Here's a more on point discussion: https://bugs.eclipse.org/bugs/show_bug.cgi?id=532313

One improvement would be highlighting `void`,`

[2018-09-18 20:52] sadikovi commented on #162
Thanks @mtman! That is very useful, I forgot about for loops. Let me know if you would like to open a PR to add support for `var`, otherwise I will try fixing it this weekend:).

@50Wliu how would you go about adding `var` support? Would love to hear your opinion on the issue.

@mtman I did not get part with `new X()`. I am pretty sure it is highlighted correctly in the context of `X x = new X();`

[2018-09-22 13:52] sadikovi commented on #162
Hi @mtman, sorry to hear that. I will try pushing forward the fix with your
suggestions, thanks a lot for raising the issue. I will also have a look at
another problem that you have pointed out, though, frankly speaking, I am
just used to that highlighting:).

What is the name of the plugin or a project - I can also have a look when I
have time and fix a couple of bugs:).

I hope you will return t

[2018-09-23 10:05] mtman commented on #162
@sadikovi The plugin is for VS Code, but it apparently uses this package, see https://github.com/redhat-developer/vscode-java/issues/604 It has issues like random delays for auto completion to show up, or sometimes errors that were e.g. commented out prevent the build to succeed.

Thanks for your effort, it's always useful to have multiple editors that are competitive.

[2018-09-25 19:42] #94 closed

[2018-10-23 21:52] #162 closed

[2018-10-23 22:03] #158 closed

[2018-10-25 13:47] alexr00 opened #167 "JAVA syntax highlighting breaks for type names ending with 'class'"
_From @Zenoo on October 24, 2018 14:11_

Issue Type: <b>Bug</b>

1. Have a Java class with a name ending with 'class'
2. Try to reference this class elsewhere like `ZoneSuperclass zone = null;`

![vsc_color_highlighting_error](https://user-images.githubusercontent.com/7151485/47436739-5af02d00-d7a7-11e8-9494-21d4e98b8cb6.gif)

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850,

[2018-10-25 13:48] alexr00 commented on #167
@Zenoo, I can't reproduce this. I tried with:
VS Code version: Code 1.28.2 (7f3ce96, 2018-10-17T00:23:51.859Z)
VS Code version: 1.29.0-insider (4a29bd373)
And built out of master from 3dd2b19b2ab73

This is my test code:
![image](https://user-images.githubusercontent.com/38270282/47487903-a5bf8280-d843-11e8-95fa-68080f0856ee.png)

Does this reproduce if you disable all extensions? Can you provide

[2018-10-25 13:48] alexr00 commented on #167
_From @Zenoo on October 25, 2018 9:22_

@alexr00 You mistyped the class name, it only happens when it ends with `class`, not `Class`.

Try it by naming the class `ZoneSuperclass`, not `ZoneSuperClass`

[2018-10-25 13:48] alexr00 commented on #167
@Zenoo, I see it now, thank you for catching. This also repros in Atom, which is where we're getting the language grammar from.

[2018-10-25 16:11] sadikovi commented on #167
Thanks for reporting!

This should do it:
[code]

I will open a PR to fix it.

[2018-11-07 03:47] V0idk opened #169 "Highlighting is wrong"
![image](https://user-images.githubusercontent.com/17514799/47998590-dd2f0880-e13a-11e8-8061-cc0535885da6.png)

[2018-11-07 07:39] sadikovi commented on #169
Please use issue template that is provided when you create one, thanks.

[2018-11-07 09:21] thomasjo commented on #169
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2018-11-07 09:21] #169 closed

[2018-11-07 19:16] sadikovi commented on #169
I don't think we should have closed the issue. It may be relatively easy to fix, actually. @V0idk, would you mind adding a bit of information to the ticket and fill out the template? I am thinking on fixing it together with handling `=` in the properties' declarations. Thanks.

[2018-11-13 17:27] sadikovi opened #170 "Wrong highlighting of variable definition, when = is on the next line"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-22 14:00] felixhao28 opened #172 "Array initializer recognized as inner class"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-23 07:19] felixhao28 opened #173 "Overrided methods in enum is not highlighted properly"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-23 07:47] sadikovi commented on #173
Yes, we don't support that syntax explicitly. Will try adding it, thanks.

[2018-11-23 07:54] sadikovi commented on #172
Good catch! It looks like `begin` of `meta.inner-class.java` is not exactly correct, only works when there are no spaces between square bracket and curly one. Anyway, will try fixing.

[2018-11-23 08:06] felixhao28 commented on #173
For your reference, I made a quick fix here to unblock my current work: https://github.com/felixhao28/language-java/commit/ea26a493db7c7e7d07ea926f5c935689bfe44895

I will leave the test case to you.

[2018-11-23 09:55] felixhao28 commented on #172
Not quire sure if this is a good fix: https://github.com/felixhao28/language-java/commit/46aaaac65ed780476a7f9327379200f2f6331842. FYI.

[2018-11-23 09:57] sadikovi commented on #172
Thanks for the help! Yes, I am not sure either. I will run more tests, see
if your fix works. Otherwise, will have to come up with something else.
On Fri, 23 Nov 2018 at 10:55 AM, Felix Hao <notifications@github.com> wrote:

[2018-11-23 10:37] felixhao28 opened #174 "Variable definition error with class name starting with underscore"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-23 12:22] felixhao28 commented on #174
Same happens if the class name starts with a lower case character.

[2018-11-23 16:16] sadikovi commented on #174
That is interesting. We might need to extend pattern to handle these characters. Thanks! I will have a look.

[2018-11-26 19:35] snjeza opened #176 "Wrong highlighting in member-variables"
### Prerequisites

* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for c

[2018-11-30 07:03] felixhao28 opened #178 "Multiple variables defined in a single line with initializers are not recognized."
### Description

[code]
![image](https://user-images.githubusercontent.com/2417391/49273674-bbfad700-f4b0-11e8-9f88-dedbcfa27ab3.png)

**Expected behavior:** [What you expect to happen]

`c` should be recognized as `variable.other.definition.java, meta.definition.variable.java` just like `b`.

[2018-12-02 18:13] sadikovi commented on #178
Good catch. I don't think it was ever supported. Before I moved code from the variable definition, such variables would be assigned the parent scope and highlighted as such creating an impression that they were parsed as variables. And my change basically exposed the issue.

[2018-12-03 09:34] felixhao28 opened #179 "`new` keyword messes with ternary operator when used in condition"
### Description

[code]
![image](https://user-images.githubusercontent.com/2417391/49365411-ad672680-f721-11e8-9cb2-5a08e34c8fa0.png)

**Expected behavior:** [What you expect to happen]

The first string in "true branch" should be recognized as `string.quoted.double.java`, like in the third line.

[2018-12-03 09:56] felixhao28 opened #180 "Function call + array accessor + new operator introduces extra meta.function-call.java scopes"
### Description

[code]

![image](https://user-images.githubusercontent.com/2417391/49366469-6169b100-f724-11e8-8f3a-c4e91b137fb0.png)

**Expected behavior:** [What you expect to happen]

As you can see, although the highlight is still correct, there are more `meta.function-call.java` than we need.

[2018-12-03 11:17] felixhao28 opened #181 "`new` operator does not work well with full qualifier"
### Description

[code]

![image](https://user-images.githubusercontent.com/2417391/49370572-86afec80-f72f-11e8-8322-35371ea7f637.png)

**Expected behavior:** [What you expect to happen]

"java.io" after `new` is not recognized as part of class name.

[2018-12-03 12:02] sadikovi commented on #179
Can you include the language-java version that you are testing against?

[2018-12-03 12:02] sadikovi commented on #180
Can you include the language-java version that you are testing against?

[2018-12-03 12:02] sadikovi commented on #181
Can you include the language-java version that you are testing against?

[2018-12-03 12:14] felixhao28 commented on #181
d48e7137f6634cc094f092b68e6b110f51f47630

[2018-12-03 12:31] felixhao28 commented on #180
d48e7137f6634cc094f092b68e6b110f51f47630

[2018-12-03 12:32] felixhao28 commented on #179
d48e7137f6634cc094f092b68e6b110f51f47630

[2018-12-04 02:13] felixhao28 commented on #178
This also applies to field definition in class:

[code]

![image](https://user-images.githubusercontent.com/2417391/49414132-3bd4ba00-f7ad-11e8-955c-ee5f0aaccfe3.png)

[2018-12-04 06:40] felixhao28 commented on #181
might be related, `extends` does not work well with full qualifiers either:

[code]
![image](https://user-images.githubusercontent.com/2417391/49423438-7b61cd00-f7d2-11e8-9149-3a07a725100b.png)

[2018-12-04 07:43] sadikovi commented on #178
I will investigate, thanks.

[2018-12-04 07:44] sadikovi commented on #181
This looks like a regression, because it was fixed at some point, if I remember correctly. I will investigate.

[2018-12-04 08:06] #173 closed

[2018-12-05 03:48] felixhao28 opened #182 "Class body of annotation class is not correctly parsed"
### Description

In the class body of an annotation class, parameters are not parsed as a method/field/parameter declaration as it should be. This results in scope errors like mistaking wildcard generic parameter as ternary conditional operator.

[code]

![image](https://user-images.githubusercontent.com/2417391/49488653-83794580-f882-11e8-92bb-16648f65629a.png)

![image](https://user-images.githu

[2018-12-05 09:19] sadikovi commented on #182
It does work correctly. We just don't support the following syntax:
[code]

Is this new feature in JDK to have interface to be prefixed with @?

[2018-12-06 07:31] felixhao28 commented on #182
This syntax is used to create a custom annotation class.

Here is a quick tutorial: https://www.javatpoint.com/custom-annotation

For the official Java language specification, please take look at this: https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-9.6.1

[2018-12-26 10:54] felixhao28 opened #183 "$ recognized as word boundary"
### Description

[code]

Code like this messes up the highlight pretty bad. This is what looks like now:

![image](https://user-images.githubusercontent.com/2417391/50443727-9f32b180-093f-11e9-80e2-369be788f29f.png)

This is what **should look like**:

![image](https://user-images.githubusercontent.com/2417391/50443563-e3718200-093e-11e9-91f8-b8970db6b26d.png)

Version:
7c3d0d3e37920790cd3afb4e688

[2019-01-04 12:00] felixhao28 opened #184 "construction of generic class conflicts with "less than" operator in if condition"
### Description

![image](https://user-images.githubusercontent.com/2417391/50687111-fe3ca880-105a-11e9-95ea-650ddd5a9edf.png)

[code]

If the condition contains a generic type, the comparator "<" won't be parsed correctly. And it also breaks the rest of the file.

Version:
7c3d0d3e37920790cd3afb4e68830bdb215851a3

[2019-01-04 12:50] felixhao28 opened #185 "Enum implements does not highlight"
### Description

![image](https://user-images.githubusercontent.com/2417391/50688818-19f77d00-1062-11e9-821c-13f5d7a90b6f.png)

[code]

version 7c3d0d3e37920790cd3afb4e68830bdb215851a3

[2019-01-04 19:36] sadikovi commented on #184
Relates to #132

[2019-01-07 12:32] felixhao28 commented on #184
OK. Feel free to close it if it's duplicate.

[2019-01-08 09:44] alexr00 opened #186 "[Java] Syntax highlighting not working on multi-line method declaration"
_From @stanleynguyen on November 14, 2018 15:4_

Syntax highlighting doesn't detect language component correctly if a method declaration spans over multiple lines. Here is an example (please only take note of the colors)

Expected:
![capture1](https://user-images.githubusercontent.com/12974927/48491000-925f7000-e861-11e8-9682-3e6142dfdbdf.PNG)

Actual:
![capture](https://user-images.githubusercont

[2019-01-08 09:44] alexr00 commented on #186
_From @H-C-H on November 28, 2018 19:27_

I can reproduce this error with the following code:
[code]
<img width="156" alt="screen shot 2018-11-28 at 20 26 16" src="https://user-images.githubusercontent.com/31404215/49176784-e8e1a980-f34b-11e8-86a7-57b92e05c8e5.png">

`void` and `foo` are not highlighted. The TextMate scope for the declaration is
- meta.class.body.java
- meta.class.java
- source.ja

[2019-01-08 11:45] felixhao28 commented on #186
I think this is due to limitation of the Regex engine oniguruma, which does not work across lines.

[2019-01-08 11:47] felixhao28 opened #187 "instanceof parsed incorrectly in assertion"
### Description

![image](https://user-images.githubusercontent.com/2417391/50828992-fabc6080-137d-11e9-8fdc-67dd932bcdcf.png)

[code]

"assert" does not work well with "instanceof" while "if" works.

[2019-01-08 12:31] sadikovi commented on #186
Yes, you are right. But this could be worked around by changing the code for the scope - I will have a look.

[2019-01-11 08:10] sadikovi commented on #187
Yes, I will have a look.

[2019-01-12 14:10] sadikovi commented on #187
Seems it works just fine in master. I opened a PR to add test.

[2019-01-13 18:34] sadikovi commented on #183
Other issues related to $: #33.

[2019-01-14 02:02] felixhao28 commented on #187
I checked again with the newly pulled syntax file and it indeed works fine. The regression I saw was caused by my attempted fix on #174. Sorry for the false alarm.

[2019-01-14 02:02] #187 closed

[2019-01-15 07:52] #185 closed

[2019-01-17 04:10] felixhao28 opened #191 "Inner annotation class not tokenized after some modifiers"
What looks like now:

![image](https://user-images.githubusercontent.com/2417391/51294945-34612b80-1a50-11e9-9297-c15b1053bb44.png)

What should look like:

![image](https://user-images.githubusercontent.com/2417391/51294979-62467000-1a50-11e9-9fed-56327266e9b4.png)

[code]

A straight fix is to change [this line](https://github.com/atom/language-java/blob/master/grammars/java.cson#L811) to `'end'

[2019-01-17 08:12] sadikovi commented on #191
Okay, I will have a look. Thanks!

[2019-01-18 05:39] felixhao28 opened #192 "Minus operator confused with variable after new constructor"
Current behavior

![image](https://user-images.githubusercontent.com/2417391/51367518-efa7c400-1b25-11e9-8387-78d664310a8a.png)

Expected:

![image](https://user-images.githubusercontent.com/2417391/51367499-dd2d8a80-1b25-11e9-9dd3-c978d6140c7b.png)

Code:

[code]

Fix:

Change [this line](https://github.com/atom/language-java/blob/master/grammars/java.cson#L194) from

[code]

 to

[code]

[2019-01-19 08:58] sadikovi commented on #192
I will check, thanks.

[2019-03-25 03:33] felixhao28 opened #194 "A space between @ and annotation breaks syntax"
### Description

Putting a space between "@" and annotation class name breaks the Java field declaration.

![image](https://user-images.githubusercontent.com/2417391/54893535-384a7780-4ef1-11e9-9f75-c0709b99e4d3.png)

[code]

Expected:

![image](https://user-images.githubusercontent.com/2417391/54893591-747dd800-4ef1-11e9-9d0c-14e8fe62bd6e.png)

The fix is simple: just put pattern (\\s)* after @ o

[2019-03-29 21:09] #194 closed

[2019-04-10 04:01] felixhao28 opened #196 "A space between class name and "[]" breaks the array declaration."
### Description

Putting a space between class name and "[]" breaks the array declaration.

![image](https://user-images.githubusercontent.com/2417391/55850679-f1fb4680-5b87-11e9-8c70-7e9b5dfbf5bf.png)

[code]

Expected:

![image](https://user-images.githubusercontent.com/2417391/55850042-62549880-5b85-11e9-9619-4eec00dde61c.png)

I fixed it by replacing

https://github.com/atom/language-java/blob

[2019-04-10 09:05] sadikovi commented on #196
Thanks, I will try patching it tonight.

[2019-04-13 14:26] sadikovi commented on #196
Fixed in #197.

[2019-04-13 14:26] #196 closed

[2019-05-22 07:45] felixhao28 opened #198 "Underscore "_" not recognized inside type qualifier"
### Description

When a type qualifier starts with "_", it breaks the grammar for the rest of the line.

![image](https://user-images.githubusercontent.com/2417391/58155502-918f1700-7ca6-11e9-9a34-1e854f3a848f.png)

### Fix

I replaced all `[A-Za-z]\\w*` to `[a-zA-Z$_][\\.a-zA-Z0-9$_]*`, and `(\\w+\\.)*[A-Z]+\\w*` to `([a-zA-Z$_][a-zA-Z$_0-9]*\\.)*[A-Z]+\\w*)` it seems fixed.

[2019-05-23 12:55] sadikovi commented on #198
Thanks. I will take a look.

[2019-05-28 20:08] sadikovi commented on #198
@felixhao28 would you like to submit a patch? I am a bit snowed under at the moment, would appreciate if you could help out, plus, you seem to have fixed it already!

[2019-05-30 04:37] felixhao28 commented on #198
Although I have been a maintainer of several TextMate syntax-based plugins for a few years, I am still not confident messing with syntax files I am not familiar with.

[2019-06-13 12:59] alexr00 opened #199 "Error in scopes for java when calling methods in array literal with TextMate"
Copied from https://github.com/microsoft/vscode/issues/75121

(I've tested in the last version of VSCode insiders and the bug is present as well)

- VSCode Version: 1.35.0
- OS Version: 10.14.5

Steps to Reproduce:

1. write a java file and set the language mode to java
2. in any method write a array literal and call a method in the value list (e.g. Object.clone())
2. observe the syntax coloring n

[2019-06-14 20:30] sadikovi commented on #199
Thanks for reporting, I root caused the issue, will try fixing it in the next few days.

[2019-06-15 11:46] #198 closed

[2019-06-24 13:36] #192 closed

[2019-06-27 05:18] rsese commented on #174
This was mentioned on the message board recently:

https://discuss.atom.io/t/java-syntax-highlighting-for-lowercase-object-variable-names/66322

Their example:

[code]

And screenshot:

![](https://sjc1.discourse-cdn.com/business6/uploads/github_atom/original/3X/7/f/7f10dfa3d372c22890a518e9e27ecf5daf76a7f6.png)

(See `someObjectType`).

[2019-06-27 09:39] sadikovi commented on #174
@rsese this issue does not exist tree-sitter, along with other stuff like generics, variables, multiline methods, etc. that we struggle to fix properly with regex.

I already use experimental tree-sitter when working with Java; and I am trying to merge my PR as soon as possible to get that into Atom release.

We can still patch this in TextMate grammar. I will take a look this weekend if it is oka

[2019-06-27 10:08] felixhao28 commented on #174
What is tree-sitter?

[2019-06-27 15:13] calebmeyer commented on #174
Text-mate is where the original syntax highlighting for Atom (and sublime, and I believe VS Code) comes from. It's a whole bunch of regexes with some smarts layered on top so they can do more than a single regex could.

Tree sitter is a new parser generator tool that creates much more correct (and often faster!) parsers using syntax trees: http://tree-sitter.github.io/tree-sitter/

[2019-06-27 17:18] mckinleyrebecca commented on #174
@sadikovi I made the post on the message board about the lowercase object types. This issue is not urgent, but thank you for looking into it!

[2019-08-15 07:49] alexr00 opened #202 "Java variable-highlight"
Original from @JoeyRxy in https://github.com/microsoft/vscode/issues/79108

[code]
you will find the `y` doesn't be recognized as a variable.

When I use `TM scope inspector` to find what `y`'s kind is,it tells me `y` is a `meta.method.body.java` instead of `variable`(but `x` is `variable`).

And then I find when you type this:
[code]
the `x` and `y` at second line isn't recognized as `variable` e

[2019-08-16 03:47] JoeyRxy commented on #202
Can I modify the definition of `tm scope`?set `y` as `variable` too?

[2019-08-17 14:40] sadikovi commented on #202
Feel free to open a PR to fix the issue!

[2019-08-23 19:12] sadikovi commented on #202
We only implement variable declaration, we don't scope variables in assignments.

[2019-08-23 19:12] #202 closed

[2019-08-23 19:39] sadikovi commented on #28
Tested in markdown, no syntax breakage like in the image.

[2019-08-23 19:39] #28 closed

[2019-08-25 08:42] sadikovi commented on #202
Relates to #178

[2019-08-27 10:50] clankill3r opened #203 "@interface breaks syntax highlighting"
I originally reported the issue here (for vscode):
https://github.com/redhat-developer/vscode-java/issues/1019
and
https://github.com/microsoft/vscode/issues/79892

But it seems they use the language-java from atom, so hence the report here:

When adding a @annotation interface the syntax highlighting breaks

correct:
<img width="209" alt="Screen Shot 2019-08-05 at 09 03 58" src="https://user-imag

[2019-08-27 18:54] sadikovi commented on #203
It seems `@interface` does not support modifiers like public, private. I will open a pull request to fix it.

[2019-08-28 19:26] #203 closed

[2019-08-30 10:43] alexr00 opened #205 "Java scopes break when there are many Exceptions with a newline"
From @JoeyRxy https://github.com/microsoft/vscode/issues/78445

Snippet. Notice that there is an newline in the catch clause between some exception types.
[code]

Only the last exception type on each line get the scope:
storage.type.java
meta.function-call.java
source.java

The other exception types get scope:
meta.function-call.java
source.java

[2019-08-30 19:04] sadikovi commented on #191
Fixed.

[2019-08-30 19:04] #191 closed

[2019-08-30 19:05] sadikovi commented on #205
Looks similar to this: #186

[2019-08-31 09:02] JoeyRxy commented on #186
so anyone know how to fix it?

[2019-10-23 08:50] alexr00 opened #207 "Textmate grammar freezes with long string constant"
From @swbrenneis in https://github.com/microsoft/vscode/issues/79640

Paste the following into a java file:
[code]

The grammar will cause a freeze

[2019-10-23 19:41] sadikovi commented on #207
Thanks for reporting, I will have a look.

[2019-10-28 07:27] sadikovi commented on #207
I root caused the issue - variable pattern causes the problem, will try fixing it.

[2019-11-21 07:41] Eskibear commented on #172
@sadikovi  any updates?

[2019-11-24 15:17] Vigilans opened #209 "Comments before inner class's class body break out the current scope"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-11-25 07:57] #209 closed

[2019-11-25 08:32] Vigilans opened #211 "Enum not correctly hightlighted when mixed with constructor and code overrides"
### Description

Originally created in https://github.com/redhat-developer/vscode-java/issues/974 by @orblazer :

[2019-11-25 08:38] Vigilans commented on #211
The problem is infact caused by the overly restricted rules specified in [syntax file](https://github.com/atom/language-java/blob/master/grammars/java.cson#L611-L666)

Currently, the enum syntax will try to match three patterns:
* pure enum's constant field
* constant field with constructor
* constant field with code overrides

But when constructor and code overrides are applied on a field at the

[2019-11-25 14:31] Vigilans commented on #176
Current behavior:

![image](https://user-images.githubusercontent.com/20227484/69548947-4f3aef80-0fd3-11ea-82bc-34b411ba6897.png)

[2019-11-25 14:46] Vigilans commented on #170
This only reproduces when varibale is upper-case:
![image](https://user-images.githubusercontent.com/20227484/69550112-6a0e6380-0fd5-11ea-994f-375585f451a0.png)

[2019-11-26 19:20] #211 closed

[2019-11-27 13:41] Vigilans opened #213 "Inconsistency of variable and new-variable method call"
### Description

Consider following code:
[code]
The former is a method call, and the color of dot is `#abb2bf`:

<img src="https://user-images.githubusercontent.com/20227484/69727756-167b5180-115e-11ea-9cf2-9c724c946e9b.png" width=430 height=300>

The latter is a function call (toString), where the dot has no meaning, and the color of dot is `#e06c75`:

<img src="https://user-images.githubusercon

[2019-11-27 16:55] Vigilans commented on #181
The regression is caused in these lines:

https://github.com/atom/language-java/blob/master/grammars/java.cson#L1059-L1062

the constraint `must be followed by a variable name` prevents `java.io.File` recognized as a type.

[2019-11-27 17:17] Vigilans opened #216 "Inconsistency of type highlighting in new expression"
### Description

Consider following code:

[code]

The second and the last will all be highlighted as type, only the first one will be recognized as function-call:

<img src=https://user-images.githubusercontent.com/20227484/69744781-d034eb00-117b-11ea-9ddc-c5846177b4c9.png width=300 height=120/>

#181 provides another example:

[code]

It contains a bug (`java.io` cannot be recognized as any patt

[2019-11-27 20:24] #205 closed

[2019-11-28 07:25] sadikovi commented on #176
Relates to https://github.com/atom/language-java/issues/186. Closing as "not an issue".

[2019-11-28 07:25] #176 closed

[2019-11-28 07:46] #179 closed

[2019-11-28 07:46] #180 closed

[2019-11-28 07:46] #213 closed

[2019-12-02 09:01] Vigilans commented on #184
This issue has been solved in #214:
![image](https://user-images.githubusercontent.com/20227484/69945653-00d2a700-1525-11ea-9e39-a04a5a67272c.png)

It is actually a variant of #213: The dot punctuation '.' didn't stop the new expression.

Effect of removing the dot operator from end regex:
![image](https://user-images.githubusercontent.com/20227484/69945835-5dce5d00-1525-11ea-9fb6-8ab273bfeee9.png

[2019-12-05 03:59] Vigilans opened #219 "Catch parameter not correctly highlighted when declared in new line or with a comment in between"
### Description

Catch parameter name is highlighted as type when declared in new line or with a comment in between.

### Steps to Reproduce

Paste the following code to editor:

[code]

**Expected behavior:** `e` is highlighted as `variable.parameter.java`

**Actual behavior:**

`e` is highlighted as `storage.type.java`:
![image](https://user-images.githubusercontent.com/20227484/70203053-a587fb0

[2019-12-05 04:18] Vigilans commented on #199
This is a variant of #172.

[2019-12-06 20:14] lkashef commented on #219
Hello @Vigilans, thanks for the report, I have simplified the examples, let me know if you have any comments.

Closing bracket in on a new line.

[code]
Comment between the type and variable name.

[code]

[2019-12-07 08:38] sadikovi commented on #10
Not an issue.

[2019-12-07 08:38] #10 closed

[2019-12-07 08:39] sadikovi commented on #219
It is basically two scenarios:
- there is a comment between `Exception` and `e` -> have to update regex
- `e` is on a new line -> oniguruma engine limitation (can't match new lines, see https://github.com/atom/language-java/issues/186)

[2019-12-07 08:44] sadikovi commented on #181
That's not correct. It does get recognised, the regex skips the first item in fully qualified class name - just need to fix that.

[2019-12-07 14:21] Vigilans commented on #181
It would be fixed naturally if `java.io.File` is recoginized as a type and fall into `object-type` scope to be parsed...

@sadikovi If you agree types in constructor call should be rendered as type, you can take a look at [this branch](https://github.com/Vigilans/language-java/compare/vigilans/array-initializer...Vigilans:vigilans/new-type) at your convenience, which is come up to solve #216.

It

[2019-12-07 16:09] Vigilans commented on #219
@lkashef
[code]
should be
[code]

[2019-12-08 17:17] #219 closed

[2019-12-10 18:14] lee-dohm commented on #219
Thanks @sadikovi! 🙇

[2020-01-12 14:13] mrerhuo commented on #107
how to setting in vscode?

[2020-01-20 00:13] JacksonKearl opened #221 "Scope for variable read/write access."
## Summary

It would be helpful to add a scope to the textmate grammar denoting variable read/write access. For example in typescript, the scope `variable.other.readwrite` is applied.

## Motivation

Currently the only scope given to variable read/write access is `source.java`, which means users and themes cannot configure the appearance of these accesses in themes.

## Additional context

<img wi

[2020-01-21 07:27] sadikovi commented on #221
No, we don't do that currently. Can you give examples when it is useful?

[2020-01-21 16:21] JacksonKearl commented on #221
Currently the only scope given to variable read/write access is source.java, which means users and themes cannot configure the appearance of variable uses in themes.

Many themes attempt to control variable colors, and they should be able to work in Java in addition to other languages.

[2020-01-22 20:17] sadikovi commented on #221
Okay, makes sense. I am a bit snowed under at the moment due to bunch of other open-source work, would appreciate a pull request :).

[2020-02-17 15:54] 0y0y opened #222 "Custom color for arguments used in method body"
## Summary
It's not possible to identify arguments used in the method body.

## Motivation
For example, we can't use the same color for better code readability.

## Additional context
![image](https://user-images.githubusercontent.com/18117142/74668670-fdef6600-51a5-11ea-878f-1cac7e1f47d6.png)

![image](https://user-images.githubusercontent.com/18117142/74668681-05167400-51a6-11ea-972c-df0721673b6

[2020-03-11 12:58] fbricon opened #223 "Java 14's new record keyword is not highlighted properly"
### Prerequisites
 * [ ]  Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
  * [ ] Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
  * [ ] Checked the FAQs on the message board for common solutions: <https://discuss.atom.io/c/faq>
  * [x] Checked that your iss

[2020-03-16 19:40] sadikovi commented on #223
Can you link java documentation about `record` keyword? We just need to add it to the grammar, should be fairly easy to do.

[2020-03-17 10:41] fbricon commented on #223
There: https://openjdk.java.net/jeps/359

[2020-03-25 18:29] #172 closed

[2020-03-25 18:29] #199 closed

[2020-04-01 00:24] rafaelrenanpacheco opened #224 "Field has different pattern if "this" is omitted"
### Description

I'm trying to clone IntelliJ's Darcula theme, and there's an issue when trying to set the `variable.other.object.property.java` foreground color. In IntelliJ fields have different colors, and this is good because it allow us to avoid the `this` keyword and still be easy to identify fields inside a method. In VS Code this wasn't possible to do because a field without the `this` key

[2020-04-01 01:26] Eskibear commented on #223
#### Grammar
[code]

cited from the JEP above

[2020-04-01 19:17] sadikovi commented on #224
Technically, issue seems to be "trailing property" vs "non-trailing property", but I agree - we should not distinguish between properties here, there is a fairly small gain to do that. I can see the current syntax being useful, for example, if you want to differentiate the last property in the chain.

This seems to be a legacy change that was copied from an another repository and has been around f

[2020-04-01 19:42] sadikovi commented on #223
We don't even support JDK 10 and 11 fully yet 😄. Feel free to open a pull request!

[2020-04-02 06:16] #224 closed

[2020-04-02 11:45] Eskibear commented on #223
PR created.  Below is its looking in vscode.

#### Before
![Screen Shot 2020-04-02 at 7 43 57 PM](https://user-images.githubusercontent.com/2351748/78245611-57bfab80-751a-11ea-953c-c48a5313bf21.png)

#### After
![Screen Shot 2020-04-02 at 7 36 47 PM](https://user-images.githubusercontent.com/2351748/78245074-5d68c180-7519-11ea-9bee-e6b093a58068.png)

[2020-04-04 11:55] #223 closed

[2020-04-29 15:29] Yanpas opened #227 "Syntax highlighting is broken with array syntax"
### Prerequisites
I'm using vscode (https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json) and syntax version 2e179ceac423403eb5bf0eff26884093c3edba6f

### Description
Snippet:
[code]
![image](https://user-images.githubusercontent.com/7345761/49146556-71902380-f313-11e8-910e-a7e642d590fa.png)

See also https://github.com/redhat-developer/vscode-java/issues/7

[2020-05-13 08:22] Eskibear commented on #186
Any updates? BTW hightlighting for multi-line class declaration is also broken:

[code]

[2020-07-16 02:30] Eskibear opened #228 "Wrong highlighting on 'new' keyword on inner classes"
### Description
creating a new instance of an inner class doesn't highlight the `new` keyword properly

inner
### Steps to Reproduce

[code]

**Expected behavior:**

keyword `new` is correctly highlighted.

**Actual behavior:**
![image](https://user-images.githubusercontent.com/2351748/87619516-f3ce9500-c74e-11ea-9101-70940ce89f0e.png)

[2020-07-16 06:44] sadikovi commented on #228
The code does not compile, not an issue.

[2020-07-16 07:51] Eskibear commented on #228
It compiles.

[code]

[2020-07-16 09:47] sadikovi commented on #228
Is that OpenJDK 14? I compile on JDK 8. This is a new feature then.

[2020-07-16 09:51] sadikovi commented on #228
Also, shouldn't it be:
[code]

[2020-07-16 17:27] Eskibear commented on #228
See https://docs.oracle.com/javase/tutorial/java/javaOO/nested.html , section "Inner Classes".

It's strange, and I don't know why `new example1.Bar()` compiles for you. It doesn't compiles for me, with either JDK 8 or 14.
[code]

[2020-07-16 19:03] sadikovi commented on #228
Yeah, I came up with a working example, similar to your code. Looks like a bug.

[2020-07-20 07:26] Eskibear opened #229 "Variable camelCase name is incorrectly highlighted in a statement with "instanceof""
### Description

### Steps to Reproduce
Stupid sample code below, one keypoint is, **name of the varible before `instanceof` has to contains an upper case letter.**

[code]

**Expected behavior:**
All `instanceof` to be correctly highlighted.

**Actual behavior:**
In return statements, `instanceof` is even not recognized as a token.

![image](https://user-images.githubusercontent.com/2351748/87910

[2020-07-21 19:01] sadikovi commented on #229
Simpler repro code:
[code]

[2020-07-21 19:09] sadikovi commented on #229
Thanks for reporting. I will take a look.

[2020-08-19 04:24] Eskibear opened #230 "Highlight 'yield' keyword in switch statement"
orignal request: https://github.com/redhat-developer/vscode-java/issues/1556
official docs: https://docs.oracle.com/javase/specs/jls/se13/preview/switch-expressions.html#jep354-14.21

[2020-09-06 06:59] #229 closed

[2020-09-06 07:08] sadikovi commented on #227
Cannot reproduce on the master branch. This seems to have been fixed by https://github.com/atom/language-java/pull/215, at least, this is what git tells me, thus the version of vscode for which the bug was reported was likely using a different version of language-java package.

[2020-09-06 07:08] #227 closed

[2020-09-08 05:39] sadikovi commented on #184
I double checked that this issue has been fixed in master.

[2020-09-08 05:39] #184 closed

[2020-09-16 12:02] Eskibear opened #232 "Highlight keyword 'sealed' for Java 15"
See: [JEP 360](https://openjdk.java.net/jeps/360)

It's not yet highlighted.
<img alt="Screen Shot 2020-09-16 at 12 24 31 PM" width="184" src="https://user-images.githubusercontent.com/148698/93325616-ddf55300-f817-11ea-97b2-14113fdf93cf.png">

[2020-09-18 15:12] fbricon commented on #232
`permits`
<img width="321" alt="Screen Shot 2020-09-18 at 5 09 02 PM" src="https://user-images.githubusercontent.com/148698/93614216-20fb2600-f9d2-11ea-9d74-64c167364c92.png">
 and following classes also need to be supported

[2020-09-18 17:42] sadikovi commented on #232
Can you provide java spec for those keywords?

[2020-09-19 08:00] #230 closed

[2020-09-19 08:00] #232 closed

[2020-09-19 16:03] sadikovi opened #235 "Tree sitter compatibility work"
We have basic tree-sitter functionality available, however, the following items need to be added to keep feature parity with Textmate grammar:
- [ ] Support for javadoc keywords/labels.
- [ ] Support for Java `var` keyword.
- [ ] Support for Java `module`.
- [ ] Support for Java 14 `record`.
- [ ] TODOs in the code.

I don't use the aforementioned features often, but I will try opening PRs to fix

[2020-09-28 13:57] fbricon opened #236 "Add support for `non-sealed` keyword"
Following up on #232, Java 15's `non-sealed` keyword should also be highlighted:

<img width="315" alt="Screen Shot 2020-09-28 at 3 52 48 PM" src="https://user-images.githubusercontent.com/148698/94441393-fd3e9980-01a2-11eb-8169-3f69c7300ba4.png">

It's part of [JEP 360](https://openjdk.java.net/jeps/360):

[2020-09-29 06:03] sadikovi commented on #236
We support tree-sitter now, textmate grammar is sort of deprecated at this point. Most of the grammar comes from tree-sitter-java, so you would have to check if they handle the keyword there.

[2020-09-29 14:13] fbricon commented on #236
#234 was merged just 10 days ago, so I didn't expect it was deprecated already ;-)

Will look at tree-sitter-java, but if it doesn't support the latest Java 15 syntax, does it mean the content from #234 will be lost?

[2020-09-29 14:27] Aerijo commented on #236
(for context) The deprecation seems fast in isolation, but the general policy across Atom for a long time now has been to focus only on the Tree-sitter version if it exists. And as of 10 days ago it now exists here too.

The TextMate grammars are still included and can be used by disabling Tree-sitter (either globally or Java specific). I guess in this case it's up to @sadikovi, but with other gra

[2020-09-29 15:19] sadikovi commented on #236
Thanks @Aerijo! It simply took me one year to finally merge the tree-sitter PR 😄 . I will continue maintaining both versions as much as I can, while tree-sitter is catching up with the textmate grammar. I will be focusing on that mostly.

@fbricon Please, don't feel discouraged and do report suggestions and issues or even open PRs! All I was trying to say in my earlier post was that tree-sitter bu

[2020-10-03 16:53] #236 closed

[2020-11-23 10:31] sadikovi opened #239 "Java tree-sitter syntax highlighting does not parse annotations correctly"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2020-11-23 10:32] sadikovi commented on #239
I will take a look later.

[2020-12-16 07:47] sadikovi opened #240 "Java tree-sitter grammar does not consistently highlight constants"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2020-12-20 20:58] #239 closed

[2020-12-20 20:59] #240 closed

[2021-01-01 16:48] SamJakob opened #244 "@link highlighting broken when linking to class"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode> (I have not - but this shouldn't be relevant. Also see below)
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sec

[2021-01-09 20:21] sadikovi commented on #244
Thanks for reporting the issue!

The issue is in textmate grammar. Note that Atom uses tree-sitter grammar for language-java now, the textmate support is deprecated. Textmate grammar still receives updates but they are treated as a lower priority at the moment so it might take us longer than usual to fix the issue.

[2021-01-20 02:32] Eskibear opened #245 "module name and comments not highlighted in module-info.java"
### Description

Also reported in https://github.com/redhat-developer/vscode-java/issues/1384
JEP reference about module system: https://openjdk.java.net/jeps/261

![image](https://user-images.githubusercontent.com/2351748/105118762-f8af3f80-5b09-11eb-9379-88e838afedea.png)

**Expected behavior:**

* `com.foo.bar` and `java.base` should be highlighted.
* comments in Line 4 should be hightlighted.

[2021-01-20 02:37] Eskibear commented on #245
@sadikovi Can you take a look please? FYI that we might be able to work "module names" around via semantic highlighting. So comments part should have a higher priority if you are short of bandwidth...

[2021-01-20 04:17] Eskibear commented on #245
I just created a PR against the comments part. please take a look.

[2021-01-23 08:31] sadikovi commented on #245
Shall we close this issue or is there anything else left to do?

[2021-01-25 03:44] Eskibear commented on #245
It would be better if qualified module names can be highlighted.

[2021-12-21 02:36] blakenguyenvn opened #250 "<unknown> is deprecated."
You have the core package "language-java" installed as a community package. See https://github.com/atom/atom/blob/master/packages/dalek/README.md for how this causes problems and instructions on how to correct the situation.
[code]

[2021-12-22 08:06] sadikovi commented on #250
Can you provide more details on the issue? Atom, npm version, steps to reproduce. It seems you have discarded the template for a bug report:

[code]

I would appreciate it if you could update your issue with all of the relevant information. Otherwise it is difficult for us to debug.